{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ _("All credentials") }}</h5>
            </div>
            <div class="card-body">
                <div id="credentials-toolbar">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ _("Export as") }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a id="special-export-login-button" class="dropdown-item">{{
                                    models.Credential.login.info["label"] }}</a></li>
                            <li><a id="special-export-passsord-button" class="dropdown-item">{{
                                    models.Credential.password.info["label"] }}</a></li>
                            <li><a id="special-export-login-password-button" class="dropdown-item">{{
                                    models.Credential.login.info["label"] }}:{{ models.Credential.password.info["label"]
                                    }}</a></li>
                            <li><a id="special-export-hashes-button" class="dropdown-item">{{
                                    models.Credential.password_hash.info["label"] }}</a></li>
                        </ul>
                    </div>
                </div>
                <table class="table" id="credentials-table" data-pagination="true" data-search="true"
                    data-show-columns="true" data-show-toggle="true" data-show-export="true" data-show-multi-sort="true"
                    data-filter-control="true" data-buttons-class="primary" data-show-pagination-switch="true",
                    data-toolbar="#credentials-toolbar" data-cookie="true"
                    data-cookie-id-table="CredentialIndex"
                    data-cookie-storage="localStorage"
                    data-single-select="true"
                    data-click-to-select="true">
                    <tbody>
                        {% for credential in credentials %}
                        <tr style="cursor:pointer" class="with-context-menu">
                            <td></td>
                            <td>{{ credential.id }}</td>
                            <td>{{ credential.login|default("", True) }}</td>
                            <td>{{ credential.password|default("", True) }}</td>
                            <td>{{ credential.password_hash|default("", True) }}</td>
                            <td>{{ credential.hash_type.title|default("", True) }}</td>
                            <td>{{ credential.check_wordlist.title|default("", True) }}</td>
                            <td>{{ sanitizer.pure_text(credential.description) }}</td>
                            <td>{{ credential.received_from_as_text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    $(function() {
        $('#credentials-table').bootstrapTable({
            columns: [
            {
                field: "state",
                checkbox: true
            },
            {
                field: "id",
                title: "{{ models.Credential.id.info['label'] }}",
                sortable: true,
                align: 'center',
            },
            {
                field: 'login',
                title: "{{ models.Credential.login.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'input',
            },
            {
                field: 'password',
                title: "{{ models.Credential.password.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'input',
            },
            {
                field: 'password_hash',
                title: "{{ models.Credential.password_hash.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'input',
            },
            {
                field: 'hash_type',
                title: "{{ models.Credential.hash_type.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'select',
            },
            {
                field: 'check_wordlist',
                title: "{{ models.Credential.check_wordlist.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'select',
            },
            {
                field: 'description',
                title: "{{ models.Credential.description.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'input',
            },
            {
                field: "received_from",
                title: "{{ models.Credential.received_from.info['label'] }}",
                sortable: true,
                align: 'center',
                filterControl: 'input'
            }
            ],
            icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
            buttonsClass: 'primary',
            exportTypes: ['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],
            onDblClickRow: function(row, element, field) {
                location = "{{ url_for('credentials.credential_show', credential_id='__row_id') }}".replace("__row_id", row.id)
            }
          });
    });
</script>
<script nonce="{{ csp_nonce() }}">
    $(function () {
        $.contextMenu({
            selector: '.with-context-menu',
            callback: function (key, options) {
                if (key === 'open') {
                    window.open("{{ url_for('credentials.credential_show', credential_id='__credential_id') }}".replace("__credential_id", options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus()
                }
                else if(key === 'edit') {
                    window.open("{{ url_for('credentials.credential_edit', credential_id='__credential_id') }}".replace('__credential_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus()
                }
                else if (key === 'copy_login') {
                    navigator.clipboard.writeText(options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].login)
                }
                else if (key === 'copy_password') {
                    navigator.clipboard.writeText(options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].password)
                }
                else if (key === 'login_password') {
                    let data = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')];
                    navigator.clipboard.writeText(data.login + " " + data.password)
                }
                else if (key === 'ulogin_upassword') {
                    let data = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')];
                    navigator.clipboard.writeText("-u '" + data.login + "' -p '" + data.password + "'")
                }
                else if (key === 'copy_password_hash') {
                    navigator.clipboard.writeText(options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].password_hash)
                }
            },
            items: {
                "open": { name: '{{ _("Open in new tab") }}', icon: "filescroll" },
                "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                "copy": {
                    name: '{{ _("Copy") }}',
                    icon: "copy",
                    items: {
                        "copy_login": { name: '{{ models.Credential.login.info["label"] }}', icon: "usertag" },
                        "copy_password": { name: '{{ models.Credential.password.info["label"] }}', icon: "key" },
                        "login_password": { name: '{{ models.Credential.login.info["label"] }} {{ models.Credential.password.info["label"] }}', icon: "userlock" },
                        "ulogin_upassword": { name: '-u {{ models.Credential.login.info["label"] }} -p {{ models.Credential.password.info["label"] }}', icon: "usergear" },
                        "copy_password_hash": { name: '{{ models.Credential.password_hash.info["label"] }}', icon: "hands-bubbles" },
                    }
                }
            }
        });
    });
</script>
<script nonce="{{ csp_nonce() }}">
    function find_position(id_name) {
        let obj = document.getElementById('credentials-table').rows[0].cells;
        for (let i = 0; i < obj.length; i++) {
            if (obj[i].getAttribute('data-field') === id_name) {
                return i;
            }
        }
    }
    function special_export(export_type) {
        let ignore_columns = [];
        let login_position = find_position('login');
        let password_position = find_position('password');
        let hash_position = find_position('password_hash');
        let filename = '';
        let set_of_data = [];
        let require_unique = true;
        if (export_type === 'logins') {
            ignore_columns = Array.from(Array(document.getElementById('credentials-table').rows[0].cells.length).keys()).filter(item => item !== login_position);
            filename = "Logins from project #{{ project.id }}";
        }
        else if (export_type === 'passwords') {
            ignore_columns = Array.from(Array(document.getElementById('credentials-table').rows[0].cells.length).keys()).filter(item => item !== password_position);
            filename = "Passwords from project #{{ project.id }}";
        }
        else if (export_type === 'logins_passwords') {
            ignore_columns = Array.from(Array(document.getElementById('credentials-table').rows[0].cells.length).keys()).filter(item => (item !== login_position && item !== password_position));
            filename = "Logins and passwords from project #{{ project.id }}";
            require_unique = false;
        }
        else if (export_type === 'hashes') {
            ignore_columns = Array.from(Array(document.getElementById('credentials-table').rows[0].cells.length).keys()).filter(item => item !== hash_position);
            filename = "Hashes from project #{{ project.id }}";
        }
        $('#credentials-table').bootstrapTable('togglePagination').tableExport({
            type: 'txt',
            exportDataType: "all",
            ignoreColumn: ignore_columns,//Ignore the index of a column
            ignoreRow: [0],
            csvSeparator: ':',
            fileName: filename,
            onCellHtmlData: function (cell, row, col, data) {//Process the exported content, customize the content of a row, column, or cell
                if (set_of_data.indexOf(data) >= 0 && require_unique) {
                    return false;
                }
                else {
                    set_of_data.push(data);
                    return data;
                }
            },
        })
        $('#credentials-table').bootstrapTable('togglePagination')
    };
    document.getElementById('special-export-login-button').addEventListener('click', function(){
        special_export('logins');
    });
    document.getElementById('special-export-passsord-button').addEventListener('click', function() {
        special_export('passwords');
    });
    document.getElementById('special-export-login-password-button').addEventListener('click', function() {
        special_export('logins_passwords');
    });
    document.getElementById('special-export-hashes-button').addEventListener('click', function() {
        special_export('hashes');
    });
    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && (event.key === 'c' || event.key === 'C' || event.key === 'с' || event.key === 'С')) {
            let password = $('#credentials-table').bootstrapTable('getSelections')[0]?.password;
            if(password !== undefined) {
                navigator.clipboard.writeText(password);
            };
        }
        else if (event.ctrlKey && (event.key === 'b' || event.key === 'B' || event.key === 'и' || event.key === 'И' )) {
            let login = $('#credentials-table').bootstrapTable('getSelections')[0]?.login;
            if(login !== undefined) {
                navigator.clipboard.writeText(login);
            };
        };
    })
</script>
{% endblock %}