{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>{{ _("Import by template") }}:</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <select id="credential-import-pattern" name="credential-import-pattern">
                            <option value="0"></option>
                            {% for template in patterns %}
                            <option value="{{ template.id }}">{{ template.title|safe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ _("Parsing data paramethers") }}</h5>
                                <p class="card-subtitle" data-toggle="tooltip" data-placement="top" data-bs-title="{{ _('These parameters specify exactly how the columns in the data will be converted to credential objects.') }}">{{ _("Parameters for getting data from records") }}</p>
                            </div>
                            <div class="card-body">
                                {{ form_element(form, form.login_position, inline=True) }}
                                {{ form_element(form, form.password_hash_position, inline=True) }}
                                {{ form_element(form, form.description_position, inline=True) }}
                                {{ form_element(form, form.password_position, inline=True) }}
                                {{ form_element(form, form.received_from_ip_position, inline=True) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ _("Static data paramethers") }}</h5>
                                <p class="card-subtitle" data-toggle="tooltip" data-placement="top" data-bs-title="{{ _('These parameters will be added to each new and/or existing object') }}">{{ _("Parameter for adding to data from records") }}</p>
                            </div>
                            <div class="card-body">
                                {{ form_element(form, form.static_login, inline=True) }}
                                {{ form_element(form, form.static_password_hash, inline=True) }}
                                {{ form_element(form, form.static_hash_type, inline=True) }}
                                {{ form_element(form, form.static_check_wordlist, inline=True) }}
                                {{ form_element(form, form.static_description, inline=True) }}
                                {{ form_element(form, form.static_password, inline=True) }}
                                {{ form_element(form, form.static_received_from, inline=True) }}
                                {{ form_element(form, form.static_services, inline=True) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ _("Content paramether") }}</h5>
                                <p class="card-subtitle" data-toggle="tooltip" data-placement="top" data-bs-title='{{ _("Conversation rules:" )}}

                                1. {{ _("Static parameters take precedence over parsing parameters") }};

                                2. {{ _("If the combination «Login:password» or «Login:password hash» already exists, the existing record will be taken") }};

                                3. {{ _("If there is a hash without a login, the data will be substituted for all objects with this hash") }};
                                
                                4. {{ _("Column index started from 0") }}.'>{{ _("Data that will be uploaded and converted into objects.") }}</p>
                            </div>
                            <div class="card-body">
                                {{ form_element(form, form.delimiter, inline=True) }}
                                {{ form_element(form, form.file_data, inline=True) }}
                                {{ form_element(form, form.content_data, inline=True) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    document.getElementById('credential-import-pattern').addEventListener('change', function() {
        if(this.value === '0') {
            return null;
        };
        fetch("{{ url_for('credentials.get_multiple_import_credentials_template_data', template_id='__template_id') }}".replace('__template_id', this.value))
        .then(response => { if(response.ok) { return response.json() } })
        .then(response => {
            document.getElementById('{{ form.login_position.id }}').value = response.login_position;
            document.getElementById('{{ form.password_hash_position.id }}').value = response.password_hash_position;
            document.getElementById('{{ form.description_position.id }}').value = response.description_position;
            document.getElementById('{{ form.password_position.id }}').value = response.password_position;
            document.getElementById('{{ form.static_login.id }}').value = response.static_login;
            document.getElementById('{{ form.static_password_hash.id }}').value = response.static_password_hash;
            document.getElementById('{{ form.static_check_wordlist.id }}').value = response.static_check_wordlist;
            document.getElementById('{{ form.static_description.id }}').value = response.static_description;
            if(response.static_hash_type !== null) {
                let hash_type_id = $('#{{ form.static_hash_type.id }}')
                let replaced_element = document.createElement('ol');
                var option = new Option(response.static_hash_type_title, response.static_hash_type_id, true, true);
                hash_type_id.append(option).trigger('change');
                hash_type_id.trigger({
                    type: 'select2:select',
                    params: {
                        data: { id: response.static_hash_type_id, title: response.static_hash_type_title }
                    }
                });
            };
        });
    });
</script>
{% endblock %}