{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<div class="row gutters">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form_element(form, form.login) }}
                    {{ form_element(form, form.password_hash) }}
                    <div class="row justify-content-around">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group row">
                                {{ form_element(form, form.hash_type_id) }}
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group row">
                                {{ form_element(form, form.check_wordlist_id) }}
                            </div>
                        </div>
                    </div>
                    {{ form_element(form, form.password) }}
                    {{ form_element(form, form.description) }}
                    {{ form_element(form, form.services) }}
                    {{ form.is_pentest_credentials(style="display: none") }}
                    <div class="row justify-content-end">
                        <div class="col-4">
                            {{ form.submit(class="btn btn-primary") }}
                            {{ form.submit_and_add_new(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ _("Help:") }}</h5>
            </div>
            <div class="card-body">
                <h6>{{ _("Hash options are also possible:") }}</h6>
                <p>
                <div id="hash_variants"></div>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    document.getElementById('{{ form.password_hash.id }}').addEventListener('input', () => {
        if (password_hash.value != '') {
            fetch('{{ url_for("credentials.get_hash_type", hash_value="__hash") }}'.replace("__hash", encodeURIComponent(password_hash.value)), {
                method: 'GET',
                headers: new Headers({ 'content-type': 'application/json' })
            }).then(response => { if (response.ok) { return response.json() } else if(response.status != 404) { alert('{{ _("Error when trying to connect the server") }}') } }).then(
                data => {
                    if(typeof data === 'undefined') {
                        return
                    }
                    let hash_type_id = $('#{{ form.hash_type_id.id }}')
                    let hash_variants = document.getElementById('hash_variants');
                    let replaced_element = document.createElement('ol');
                    var option = new Option(data.title, data.default_hash, true, true);
                
                    hash_type_id.append(option).trigger('change');
    
                    // manually trigger the `select2:select` event
                    hash_type_id.trigger({
                        type: 'select2:select',
                        params: {
                            data: {id: data.default_hash, title: data.title}
                        }
                    });
    
                    str_hv = ''
                    for (let i = 0; i < data.anothers.length; i++) {
                        str_hv += '<li><b>' + data.anothers[i].title + '</b>, {{ models.HashType.hashcat_mode.info["label"] }}:"' + data.anothers[i].hashcat_mode + '", {{ models.HashType.john_mode.info["label"] }}: "' + data.anothers[i].john_mode + '"';
                        if (data.anothers[i].description != null) {
                            str_hv += ', {{ models.HashType.description.info["label"] }}: "' + data.anothers[i].description + '";</li>'
                        }
                        else {
                            str_hv += ';</li>'
                        }
                    }
                    replaced_element.innerHTML = str_hv;
                    hash_variants.innerHTML = replaced_element.getHTML();
                }
            )
        }
    });
</script>
{% endblock %}