{% extends 'layout/base.html' %}
{% from "layout/_macrosses.html" import bootstrap_table_icons %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table" id="user-themes-table" data-pagination="true" data-search="true"
                    data-show-columns="true" data-show-toggle="true" data-show-export="true" data-show-multi-sort="true"
                    data-filter-control="true" data-buttons-class="primary" data-show-pagination-switch="true"
                    data-cookie="true"
                    data-cookie-id-table="UserThemesTable"
                    data-cookie-storage="localStorage">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.id.info['label'] }}</th>
                        <th data-field="title" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.title.info['label'] }}</th>
                        <th data-field="string_slug" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.string_slug.info['label'] }}</th>
                        <th data-field="is_default" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.is_default.info['label'] }}</th>
                        <th data-field="main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.main_color.info['label'] }}</th>
                        <th data-field="neightboring_main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.neightboring_main_color.info['label'] }}</th>
                        <th data-field="secondary_main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.secondary_main_color.info['label'] }}</th>
                        <th data-field="main_text_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.main_text_color.info['label'] }}</th>
                        <th data-field="hovering_main_element_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.hovering_main_element_color.info['label'] }}</th>
                        <th data-field="sidebar_background_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.sidebar_background_color.info['label'] }}</th>
                        <th data-field="main_content_background_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.main_content_background_color.info['label'] }}</th>
                        <th data-field="color_card_background_header" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_card_background_header.info['label'] }}</th>
                        <th data-field="color_chats_hour" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_chats_hour.info['label'] }}</th>
                        <th data-field="color_chats_my_message" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_chats_my_message.info['label'] }}</th>
                        <th data-field="color_chats_my_message_text" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_chats_my_message_text.info['label'] }}</th>
                        <th data-field="color_chats_other_message" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_chats_other_message.info['label'] }}</th>
                        <th data-field="color_chats_other_message_text" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.color_chats_other_message_text.info['label'] }}</th>
                        <th data-field="bs_card_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.bs_card_color.info['label'] }}</th>
                        <th data-field="dark_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.dark_color.info['label'] }}</th>
                        <th data-field="timeline_time_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_time_color.info['label'] }}</th>
                        <th data-field="timeline_line_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_line_color.info['label'] }}</th>
                        <th data-field="timeline_red_team_background_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_red_team_background_color.info['label'] }}</th>
                        <th data-field="timeline_red_team_text_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_red_team_text_color.info['label'] }}</th>
                        <th data-field="timeline_blue_team_background_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_blue_team_background_color.info['label'] }}</th>
                        <th data-field="timeline_blue_team_text_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.timeline_blue_team_text_color.info['label'] }}</th>
                        <th data-field="fixed_sidebar" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.fixed_sidebar.info['label'] }}</th>
                        <th data-field="sidebar_position_left" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.sidebar_position_left.info['label'] }}</th>
                        <th data-field="archived_main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.archived_main_color.info['label'] }}</th>
                        <th data-field="archived_main_text_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.archived_main_text_color.info['label'] }}</th>
                        <th data-field="archived_secondary_main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.archived_secondary_main_color.info['label'] }}</th>
                        <th data-field="archived_neightboring_main_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.archived_neightboring_main_color.info['label'] }}</th>
                        <th data-field="network_on_graph_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.network_on_graph_color.info['label'] }}</th>
                        <th data-field="normal_host_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.normal_host_color.info['label'] }}</th>
                        <th data-field="compromised_host_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.compromised_host_color.info['label'] }}</th>
                        <th data-field="service_on_graph_color" data-formatter="colorCellFormatter" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserThemeStyle.service_on_graph_color.info['label'] }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for theme in themes %}
                    <tr>
                        <td>{{ theme.id }}</td>
                        <td>{{ theme.title }}</td>
                        <td>{{ theme.string_slug }}</td>
                        <td>{{ theme.is_default|bool_to_pretty_string }}</td>
                        <td>{{ theme.main_color }}</td>
                        <td>{{ theme.neightboring_main_color }}</td>
                        <td>{{ theme.secondary_main_color }}</td>
                        <td>{{ theme.main_text_color }}</td>
                        <td>{{ theme.hovering_main_element_color }}</td>
                        <td>{{ theme.sidebar_background_color }}</td>
                        <td>{{ theme.main_content_background_color }}</td>
                        <td>{{ theme.color_card_background_header }}</td>
                        <td>{{ theme.color_chats_hour }}</td>
                        <td>{{ theme.color_chats_my_message }}</td>
                        <td>{{ theme.color_chats_my_message_text }}</td>
                        <td>{{ theme.color_chats_other_message }}</td>
                        <td>{{ theme.color_chats_other_message_text }}</td>
                        <td>{{ theme.bs_card_color }}</td>
                        <td>{{ theme.dark_color }}</td>
                        <td>{{ theme.timeline_time_color }}</td>
                        <td>{{ theme.timeline_line_color }}</td>
                        <td>{{ theme.timeline_red_team_background_color }}</td>
                        <td>{{ theme.timeline_red_team_text_color }}</td>
                        <td>{{ theme.timeline_blue_team_background_color }}</td>
                        <td>{{ theme.timeline_blue_team_text_color }}</td>
                        <td>{{ theme.fixed_sidebar|bool_to_pretty_string }}</td>
                        <td>{{ theme.sidebar_position_left|bool_to_pretty_string }}</td>
                        <td>{{ theme.archived_main_color }}</td>
                        <td>{{ theme.archived_main_text_color }}</td>
                        <td>{{ theme.archived_secondary_main_color }}</td>
                        <td>{{ theme.archived_neightboring_main_color }}</td>
                        <td>{{ theme.network_on_graph_color }}</td>
                        <td>{{ theme.normal_host_color }}</td>
                        <td>{{ theme.compromised_host_color }}</td>
                        <td>{{ theme.service_on_graph_color }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    function isDarkColor(colorValue) {
        colorValue = colorValue.trim();
        if (colorValue.startsWith('#')) {
            const cleanHex = colorValue.replace('#', '');
            let r, g, b;
            if (cleanHex.length === 3) {
                r = parseInt(cleanHex[0] + cleanHex[0], 16);
                g = parseInt(cleanHex[1] + cleanHex[1], 16);
                b = parseInt(cleanHex[2] + cleanHex[2], 16);
            } else {
                r = parseInt(cleanHex.substring(0, 2), 16);
                g = parseInt(cleanHex.substring(2, 4), 16);
                b = parseInt(cleanHex.substring(4, 6), 16);
            }

            return calculateBrightness(r, g, b) < 128;
        }

        else if (colorValue.startsWith('rgb(')) {
            const rgbMatch = colorValue.match(/rgb\(([^)]+)\)/);
            if (!rgbMatch) return false;

            const rgbValues = rgbMatch[1].split(',').map(val => val.trim());

            if (rgbValues.length !== 3) return false;

            let r = parseFloat(rgbValues[0]);
            let g = parseFloat(rgbValues[1]);
            let b = parseFloat(rgbValues[2]);

            if (r <= 1 && g <= 1 && b <= 1) {
                r = r * 255;
                g = g * 255;
                b = b * 255;
            }

            return calculateBrightness(r, g, b) < 128;
        }
        return false;
    }

    function calculateBrightness(r, g, b) {
        // Y = 0.299*R + 0.587*G + 0.114*B
        return (r * 0.299 + g * 0.587 + b * 0.114);
    }
    function colorCellFormatter(value, row, index, field) {
        if (value) {
            return `<div style="background-color: ${value}; padding: 5px; border-radius: 3px; color: ${isDarkColor(value) ? 'white' : 'black'}">${value}</div>`;
        }
        return value;
    }
    $(function() {
        $('#user-themes-table').bootstrapTable('destroy').bootstrapTable({
                filterControl: true,
                disableUnusedSelectOptions: true,
                icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                rowStyle: (row, index) => { return { classes: "with-context-menu-themes" }},
            })
    });
    $(function () {
            $.contextMenu({
                selector: '.with-context-menu-themes',
                callback: function (key, options) {
                    if(key === 'edit') {
                        window.open("{{ url_for('users.user_themes_edit', theme_id='__theme_id') }}".replace('__theme_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus()
                    }
                    else if (key === 'delete') {
                        if (confirm("{{ _('Are you sure you want to delete this theme?') }}")) {
                            let theme_id = $('#user-themes-table').bootstrapTable('getData')[options.$trigger.data('index')].id;
                            fetch("{{ url_for('users.user_themes_delete', theme_id='__theme_id') }}".replace('__theme_id', theme_id), {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token() }}'
                                }
                            }).then(response => { if(response.ok) { return response.json() } }).then(response => {
                                if(response.status === 'success') {
                                    $('#user-themes-table').bootstrapTable('remove', {field: 'id', values: [theme_id]});
                                }
                                else {
                                    alert(response.message || '{{ _("Failed to delete theme") }}');
                                }
                            });
                        };
                    }
                },
                items: {
                    "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                    "delete": { name: '{{ _("Delete") }}' , icon: "delete"}
                }
            });
        });
</script>
{% endblock %}