@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1kljed');
  src:  url('fonts/icomoon.eot?1kljed#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1kljed') format('truetype'),
    url('fonts/icomoon.woff?1kljed') format('woff'),
    url('fonts/icomoon.svg?1kljed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cctv-camera-smart:before {
  content: "\e903";
}
.icon-no-target:before {
  content: "\e901";
}
.icon-target:before {
  content: "\e902";
}
.icon-sword-smithing-svgrepo-com:before {
  content: "\e900";
}
