{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ _("All hosts") }}</h5>
            </div>
            <div id="hosts-toolbar">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ _("Export as") }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a id="button-export-ip-addresses-host" class="dropdown-item">{{ models.Host.ip_address.info["label"] }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <table class="table"    id="hosts-table"
                                        data-search="true"
                                        data-show-columns="true"
                                        data-show-toggle="true"
                                        data-show-export="true"
                                        data-show-multi-sort="true"
                                        data-buttons-class="primary"
                                        data-pagination="true"
                                        data-side-pagination="server"
                                        data-page-list="[10, 25, 50, 100, 500, All]"
                                        data-url="{{ url_for('networks.host_index_data', project_id=project.id) }}"
                                        data-toolbar="#hosts-toolbar"
                                        data-cookie="true"
                                        data-cookie-id-table="HostsIndex"
                                        data-cookie-storage="localStorage">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        $(function() {
            $('#hosts-table').bootstrapTable({
                rowStyle: (row, index) => { return { classes: "with-context-menu-host", css: {"cursor": 'pointer' } } },
                filterControl: true,
                disableUnusedSelectOptions: true,
                columns: [
                {
                    field: "id",
                    title: "#",
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'from_network',
                    title: '{{ models.Host.from_network.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'select',
                    filterData: 'json:{{ filters["Network"]|escapejs }}',
                },
                {
                    field: 'title',
                    title: '{{ models.Host.title.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'description',
                    title: '{{ models.Host.description.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: "technical",
                    title: "{{ models.Host.technical.info['label'] }}",
                    sortable: true,
                    align: 'center',
                    filterControl: 'input'
                },
                {
                    field: 'ip_address',
                    title: '{{ models.Host.ip_address.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'interfaces.ip_address-input',
                    title: '{{ models.Host.interfaces.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input'
                },
                {
                    field: 'dnsnames.title-input',
                    title: '{{ models.Host.dnsnames.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'mac',
                    title: '{{ models.Host.mac.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'operation_system_family',
                    title: '{{ models.Host.operation_system_family.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'select',
                    filterData: 'json:{{ filters["OperationSystemFamily"]|escapejs }}',
                },
                {
                    field: 'operation_system_gen',
                    title: '{{ models.Host.operation_system_gen.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'device_type',
                    title: '{{ models.Host.device_type.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'select',
                    filterData: 'json:{{ filters["DeviceType"]|escapejs }}',
                },
                {
                    field: 'device_vendor',
                    title: '{{ models.Host.device_vendor.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'select',
                    filterData: 'json:{{ filters["DeviceVendor"]|escapejs }}',
                },
                {
                    field: 'device_model.title-input',
                    title: '{{ models.Host.device_model.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                }
                ],
                    icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                    showColumns: true,
                    detailView: true,
                    onClickRow: function(row, element, field) {
                        location = "{{ url_for('networks.host_show', **{'host_id': '__row_id'}) }}".replace("__row_id", row.id)
                    },
                    onExpandRow: function (index, row, $detail) {
                        $detail.html('<table></table>').find('table').bootstrapTable({
                            columns: [
                            {
                                field: 'id',
                                title: '#',
                                sortable: true,
                                align: 'center',
                                filterControl: 'input',
                            },
                            {
                                field: 'title',
                                title: '{{ models.Service.title.info["label"] }}',
                                sortable: true,
                                align: 'center',
                                filterControl: 'input',
                            },
                            {
                                field: 'port',
                                title: '{{ models.Service.port.info["label"] }}',
                                sortable: true,
                                align: 'center',
                                filterControl: 'input',
                            },
                            {
                                field: 'access_protocol.title-input',
                                title: '{{ models.Service.access_protocol.info["label"] }}',
                                sortable: true,
                                align: 'center',
                                filterControl: 'input',
                            },
                            {
                                field: 'transport_level_protocol',
                                title: '{{ models.Service.transport_level_protocol.info["label"] }}',
                                sortable: true,
                                align: 'center',
                                filterControl: 'select',
                                filterData: 'json:{{ filters["ServiceTransportLevelProtocol"]|escapejs }}',
                            },
                            {
                                field: 'port_state',
                                title: "{{ models.Service.port_state.info['label'] }}",
                                sortable: true,
                                align: 'center',
                                filterControl: 'select',
                                filterData: 'json:{{ filters["ServicePortState"]|escapejs }}',
                            },
                            {
                                field: 'port_state_reason',
                                title: "{{ models.Service.port_state_reason.info['label'] }}",
                                sortable: true,
                                align: 'center',
                                filterControl: 'input',
                            }
                            ],
                            showColumns: true,
                            search: true,
                            showToggle: true,
                            showPaginationSwitch: true,
                            showExport: true,
                            showMultiSort: true,
                            filterControl: true,
                            buttonsClass: 'primary',
                            pagination: true,
                            cookie: true,
                            cookieIdTable: "ServicesByHostIndex",
                            cookieStorage: "localStorage",
                            sidePagination: 'server',
                            url: '{{ url_for("networks.service_by_host_data", host_id="__host_id") }}'.replace('__host_id', row.id),
                            rowStyle: (row, index) => { return {css: { "cursor": "pointer" }} },
                            icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                            onClickRow: function(row, element, field) {
                                location = "{{ url_for('networks.service_show', service_id='__row_id') }}".replace("__row_id", row.id);
                            },
                          })
                    }
                })
        });
    </script>
    <script nonce="{{ csp_nonce() }}">
        document.getElementById('button-export-ip-addresses-host').addEventListener('click', function() {
            special_export('ip_address');
        });
        function find_position(id_name) {
            let obj = document.getElementById('hosts-table').rows[0].cells
            for(let i = 0; i < obj.length; i++) {
                if(obj[i].getAttribute('data-field') === id_name) {
                    return i
                }
            }
        }
        function special_export(export_type) {
            let ignore_columns = [];
            let ip_position = find_position('ip_address');
            let filename = '';
            let require_unique = true;
            if(export_type === 'ip_address'){
                ignore_columns = Array.from(Array(document.getElementById('hosts-table').rows[0].cells.length).keys()).filter(item => item !== ip_position);
                filename = "IP addresses from project #{{ project.id }}";
            }
            $('#hosts-table').bootstrapTable('togglePagination').tableExport({
                type: 'txt',
                exportDataType: "all",
                ignoreColumn: ignore_columns,//Ignore the index of a column
                ignoreRow: [0],
                csvSeparator: ':',
                fileName: filename,
            })
            $('#hosts-table').bootstrapTable('togglePagination')
        }
        const hostsSocket = io('/hosts');
        hostsSocket.on('connect', function() {
            hostsSocket.emit('join_room', "{{ project.id }}")
        });
        hostsSocket.on('host list updated', function() {
            $('#hosts-table').bootstrapTable("refresh")
        })
        $(function () {
            $.contextMenu({
                selector: '.with-context-menu-host',
                callback: function (key, options) {
                    if (key === 'open') {
                        window.open("{{ url_for('networks.host_show', host_id='__host_id') }}".replace("__host_id", options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank');
                    }
                    else if(key === 'edit') {
                        window.open("{{ url_for('networks.host_edit', host_id='__host_id') }}".replace('__host_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank');
                    }
                    else if(key === 'exclude') {
                        hostsSocket.emit('exclude host', { host_id: options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id });
                    }
                    else if (key === 'delete') {
                        if(confirm("{{ _('Are you sure you want to delete this host?') }}")) {
                            hostsSocket.emit("delete host", {'host_id': options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id});
                        }
                    }
                    else if (key === 'copy_ip') {
                        navigator.clipboard.writeText(options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].ip_address)
                    }
                },
                items: {
                    "open": { name: '{{ _("Open in new tab") }}', icon: "filescroll" },
                    "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                    "exclude": { name: "{{ _('Exclude') }}", icon: "exclude" },
                    "delete": { name: '{{ _("Delete") }}', icon: 'delete' },
                    "copy_ip": { name: '{{ _("Copy IP address") }}', icon: "copy" }
                }
            });
        });
    </script>
{% endblock %}