{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="card">
                    <div class="card-header">
                        <h5>{{ _("Data to import") }}</h5>
                    </div>
                    <div class="card-body">
                        {{ form_element(form, form.ip_position, inline=True) }}
                        {{ form_element(form, form.title_position, inline=True) }}
                        {{ form_element(form, form.mac_position, inline=True) }}
                        {{ form_element(form, form.description_position, inline=True) }}
                        <hr />
                        {{ form_element(form, form.delimiter, inline=True) }}
                        {{ form_element(form, form.content_data, inline=True) }}
                        {{ form_element(form, form.file_data, inline=True) }}
                        <div class="row justify-content-end">
                            <div class="col-3">
                                {{ form.submit(class='btn btn-primary') }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}