{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<form action="" method="POST" class="needs-validation" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <div class="row gutters">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_element(form, form.from_network_id, inline=True) }}
                    {{ form_element(form, form.title, inline=True) }}
                    {{ form_element(form, form.ip_address, inline=True) }}
                    {{ form_element(form, form.mac, inline=True) }}
                    {{ form_element(form, form.status_id, inline=True) }}
                    {{ form_element(form, form.status_reason, inline=True) }}
                    {{ form_element(form, form.description) }}
                    {{ form.excluded(style="display: none") }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_element(form, form.operation_system_family_id, inline=True) }}
                    {{ form_element(form, form.operation_system_gen, inline=True) }}
                    {{ form_element(form, form.ipidsequence_class, inline=True) }}
                    {{ form_element(form, form.ipidsequence_value, inline=True) }}
                    {{ form_element(form, form.device_type_id, inline=True) }}
                    {{ form_element(form, form.device_vendor_id, inline=True) }}
                    {{ form_element(form, form.device_model_id, inline=True) }}
                    {{ form_element(form, form.compromised, inline=True) }}
                    {{ form_element(form, form.labels, inline=True) }}
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-6">
                    {{ form.submit(class="btn btn-primary") }}
                    {{ form.submit_and_add_new(class="btn btn-primary") }}
                </div>
            </div>
        </div>
        <div class="col-12">
            
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    const IPMask = IMask(document.getElementById("{{ form.ip_address.id }}"), {
        mask: 'IP{.}IP{.}IP{.}IP',
        blocks: {
            IP: {
                mask: Number,
                padFractionalZeros: true,
                scale: 0,
                min: 0,
                max: 255
            }
        },
        prepare: (value, masked) => {
            if(value === '0' && (masked._value.length === 0 || masked._value.charAt(masked._value.length - 1) === '.')) {
                return value + '.';
            }
            return value;
        }
    });
    document.getElementById("{{ form.ip_address.id }}").addEventListener('input', (e) => {
        fetch('{{ url_for("networks.get_network_by_host_address", project_id=project.id, ipaddress="__ip_address")|safe }}'.replace("__ip_address", e.srcElement.value))
            .then((response) => { if(response.ok && response.status == 200) { return response.json() } else if(response.status =! 404) {
                alert('{{ _("Something went wrong. Try to refresh page") }}');
            } })
            .then((response) => {
                if(response !== undefined && response.status == 'success'){
                    document.getElementById('{{ form.from_network_id.id }}').value = response.id
                }
            })
    });
</script>
{% endblock %}