{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import load_bootstrap_table_js, form_element %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="credential-template-toolbar">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalImportCredentialTemplates">
                        <i class="fa-solid fa-file-import"></i>{{ _("Import") }}
                    </button>
                    <a href="" class="btn btn-primary" id="export-credential-templates-button" style="visibility: hidden"><i class="fa-solid fa-file-arrow-down"></i>
                    {{ _("Export") }}
                    </a>
                    <a href="" class="btn btn-primary" id="delete-credential-templates-button" style="visibility: hidden"><i class="fa-solid fa-trash"></i>
                    {{ _("Delete") }}
                    </a>
                </div>
                <table class="table" id="import-credential-template-table" data-pagination="true"
                                                                    data-show-column="true"
                                                                    data-show-toggle="true"
                                                                    data-show-export="true"
                                                                    data-show-pagination-switch="true"
                                                                    data-show-multi-sort="true"
                                                                    data-filter-control="true"
                                                                    data-buttons-class="primary"
                                                                    data-cookie="true"
                                                                    data-cookie-id-table="CredentialExportTemplateIndex"
                                                                    data-cookie-storage="localStorage"
                                                                    data-toolbar="#credential-template-toolbar">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-sortable="true" data-align="center">{{ models.CredentialImportTemplate.id.info["label"] }}</th>
                            <th data-field="title" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.title.info['label'] }}</th>
                            <th data-field="description" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.description.info['label'] }}</th>
                            <th data-field="login_column_number" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.login_column_number.info['label'] }}</th>
                            <th data-field="password_hash_column_number" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.password_hash_column_number.info["label"] }}</th>
                            <th data-field="description_column_number" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.description_column_number.info["label"] }}</th>
                            <th data-field="password_column_number" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.password_column_number.info['label'] }}</th>
                            <th data-field="static_hash_type_id" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.static_hash_type_id.info['label'] }}</th>
                            <th data-field="static_check_wordlist_id" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.static_check_wordlist_id.info['label'] }}</th>
                            <th data-field="static_description" data-sortable="true" data-align="center" data-filter-control="input">{{ models.CredentialImportTemplate.static_description.info['label'] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for template in templates %}
                        <tr>
                            <td></td>
                            <td>{{ template.id }}</td>
                            <td>{{ template.title|default("", True) }}</td>
                            <td>{{ sanitizer.pure_text(template.description)|default("", True) }}</td>
                            <td>{{ template.login_column_number|suppress_none }}</td>
                            <td>{{ template.password_hash_column_number|suppress_none }}</td>
                            <td>{{ template.description_column_number|suppress_none }}</td>
                            <td>{{ template.password_column_number|suppress_none }}</td>
                            <td>{{ template.static_hash_type_id.title|suppress_none }}</td>
                            <td>{{ template.static_check_wordlist_id.title|default("", True) }}</td>
                            <td>{{ template.static_description|default("", True) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-xl" id="modalImportCredentialTemplates" tabindex="-1" aria-labelledby="modalImportCredentialTemplatesLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalImportCredentialTemplatesLabel">{{ _("Import credential templates") }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
      </div>
      <form action="{{ url_for('admin.credential_template_import') }}" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="col-12 position-relative">
            <div class="form-group">
                {{ import_credential_templates.hidden_tag() }}
                {{ form_element(import_credential_templates, import_credential_templates.import_file, inline=True) }}
                {{ form_element(import_credential_templates, import_credential_templates.override_exist, inline=True) }}
            </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ import_credential_templates.submit(class='btn btn-primary') }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{{ load_bootstrap_table_js('import-credential-template-table', 'admin.credential_template_show', 'template_id') }}
<script nonce="{{ csp_nonce() }}">
    document.getElementById('export-credential-templates-button').addEventListener('click', function(e) {
        e.preventDefault();
        let selected = $('#import-credential-template-table').bootstrapTable('getSelections').map((item) => { return item.id }).join(',');
        location.href = "{{ url_for('admin.credential_template_export', selected='__selected') }}".replace('__selected', encodeURIComponent(selected));
    });
    let change_bs_table_checked = (row, $element) => {
        let selected = $('#import-credential-template-table').bootstrapTable('getSelections');
        if (selected.length !== 0) {
            document.getElementById('export-credential-templates-button').style.visibility = null;
            document.getElementById('delete-credential-templates-button').style.visibility = null;
        }
        else {
            document.getElementById('export-credential-templates-button').style.visibility = 'hidden';
            document.getElementById('delete-credential-templates-button').style.visibility = 'hidden';
        }
    };
    $('#import-credential-template-table').on('check.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element);
    });
    $('#import-credential-template-table').on('uncheck.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    $('#import-credential-template-table').on('check-all.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    $('#import-credential-template-table').on('uncheck-all.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    document.getElementById('delete-credential-templates-button').addEventListener('click', (e) => {
        e.preventDefault();
        if (confirm('{{ _("Are you sure you want to delete this objects?") }}')) {
            let promises = [];
            $('#import-credential-template-table').bootstrapTable('getSelections').forEach((item) => {
                promises.push(fetch('{{ url_for("admin.credential_template_delete", template_id="__template_id") }}'.replace('__template_id', item.id), {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token() }}"
                    }
                }))
            })
            let promise_result = Promise.all(promises).then((responses) => {
                if(responses.every((v) => { return v.ok })) {
                    $.notify("{{ _('All specified credential import templates successfully deleted') }}", "success", {
                        clickToHide: true,
                        autoHide: true,
                        autoHideDelay: 5000,
                        globalPosition: 'top right'
                    });
                    $('#import-credential-template-table').bootstrapTable('remove', {
                        field: 'id',
                        values: $('#import-credential-template-table').bootstrapTable('getSelections').map((item) => { return item.id })
                    });
                    document.getElementById('export-credential-templates-button').style.visibility = 'hidden';
                    document.getElementById('delete-credential-templates-button').style.visibility = 'hidden';
                }
                else {
                    $.notify("{{ _('Something went wrong. Try refreshing the page') }}", "error", {
                        clickToHide: true,
                        autoHide: true,
                        autoHideDelay: 5000,
                        globalPosition: 'top right'
                    });
                }
            });
        }
    })
</script>
{% endblock %}