{% extends 'layout/base.html' %}

{% block page_content %}
<div class="row gutters">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">{{ _("Main information") }}</div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>{{ models.User.login.info["label"] }}:</td>
                <td>{{ user.login|safe }}</td>
              </tr>
              <tr>
                <td>{{ models.User.last_name.info["label"] }}:</td>
                <td>{{ user.last_name|safe }}</td>
              </tr>
              <tr>
                <td>{{ models.User.first_name.info["label"] }}:</td>
                <td>{{ user.first_name|safe }}</td>
              <tr>
                <td>{{ models.User.middle_name.info["label"] }}:</td>
                <td>{{ user.middle_name|safe }}</td>
              </tr>
              <tr>
                <td>{{ models.User.email.info["label"] }}:</td>
                <td>{{ user.email|safe }}</td>
              </tr>
              <tr>
                <td>{{ models.User.position.info["label"] }}:</td>
                <td><a href="#">{{ user.position.title }}</a></td>
              </tr>
              <tr>
                <td>{{ models.User.manager.info["label"] }}:</td>
                {% if user.manager == none %}
                <td><a href="#">{{ _("No manager") }}</a></td>
                {% else %}
                <td><a href="{{ url_for('users.user_show', user_id=user.manager.id) }}">{{ user.manager.title|safe }}</a></td>
                {% endif %}
              </tr>
              {% if roles.has_user_role([roles.UserHimself], user) %}
              <tr>
                <td>{{ models.User.token.info["label"] }}:</td>
                <td>{{ user.token|safe }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body text-center">
                <img src="{{ url_for('files.download_file', file_id=user.avatar_id) }}" alt="Изображение профиля" class="rounded">
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6>{{ models.User.programming_languages.info["label"] }}</h6>
            </div>
            <div class="card-body">
                <p>
                {% for language in user.programming_languages %}
                    <a href="#">{{ language.title }}</a>,
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6>{{ _("Theme settings Used") }}</h6>
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>{{ _("Decoration") }}:</td>
                <td><a href="#">{{ user.theme_style.title }}</a></td>
              </tr>
              <tr>
                <td>{{ _("Code highlighting") }}:</td>
                <td>{{ user.programming_language_theme.title }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


{% endblock %}