{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ _("All services") }}</h5>
            </div>
            <div class="card-body">
                <div id="services-toolbar">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ _("Export as") }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a id="button-export-ip-address-services" class="dropdown-item">{{ models.Service.host.entity.class_.ip_address.info["label"] }}</a></li>
                            <li><a id="button-export-ip-port-services" class="dropdown-item">{{ models.Service.host.entity.class_.ip_address.info["label"] }}:{{ models.Service.port.info["label"] }}</a></li>
                        </ul>
                    </div>
                </div>
                <table class="table"    id="service-table"
                                        data-toolbar="#services-toolbar"
                                        data-search="true"
                                        data-show-columns="true"
                                        data-show-toggle="true"
                                        data-show-export="true"
                                        data-show-multi-sort="true"
                                        data-filter-control="true"
                                        data-buttons-class="primary"
                                        data-pagination="true"
                                        data-side-pagination="server"
                                        data-show-pagination-switch="true"
                                        data-page-list="[10, 25, 50, 100, 500, All]"
                                        data-url="{{ url_for('networks.service_index_data', project_id=project.id) }}"
                                        data-row-style="serviceRowStyle">
                </table>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        $(function() {
        var CookieName = "ServicesIndexPageSize";
          $('#service-table').bootstrapTable({
                    filterControl: true,
                    disableUnusedSelectOptions: true,

                    columns: [
                    {
                        field: "id",
                        title: "{{ models.Service.id.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'title',
                        title: "{{ models.Service.title.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'host.ip_address-input',
                        title: "{{ models.Service.host.entity.class_.ip_address.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'port',
                        title: "{{ models.Service.port.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'access_protocol.title-input',
                        title: "{{ models.Service.access_protocol.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'transport_level_protocol',
                        title: "{{ models.Service.transport_level_protocol.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'select',
                        filterData: 'json:{{ filters["ServiceTransportLevelProtocol"]|escapejs }}'
                    },
                    {
                        field: 'technical',
                        title: "{{ models.Service.technical.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    },
                    {
                        field: 'port_state',
                        title: "{{ models.Service.port_state.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'select',
                        filterData: 'json:{{ filters["ServicePortState"]|escapejs }}'
                    },
                    {
                        field: 'port_state_reason',
                        title: "{{ models.Service.port_state_reason.info['label'] }}",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    }
                    ],
                    icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                    onClickRow: function(row, element, field) {
                        location = "{{ url_for('networks.service_show', service_id='__row_id') }}".replace("__row_id", row.id);
                    },
                    onPreBody: function(data) {

                        var pageSizeCookie = Cookies.get(CookieName);
                        if(isNaN(Number(pageSizeCookie))) {
                            pageSizeCookie = 10;
                        };
                        if (pageSizeCookie != null) {
            
                            var pageSizeInt = parseInt(pageSizeCookie);
                            this.pageSize = pageSizeInt;
                        }
                    },
                    onPageChange: function(pageNumber, pageSize) {
                        Cookies.set(CookieName, pageSize, { expires: 30, path: window.location.pathname });
                    },
                })
        })
      </script>
      <script nonce="{{ csp_nonce() }}">
        function serviceRowStyle(row, index) {
            return { classes: "with-context-menu-service", css: {"cursor": 'pointer' } }
        }
      </script>
      <script nonce="{{ csp_nonce() }}">
        function find_position(id_name) {
            let obj = document.getElementById('service-table').rows[0].cells
            for(let i = 0; i < obj.length; i++) {
                if(obj[i].getAttribute('data-field') === id_name) {
                    return i
                }
            }
        }
        function special_export(export_type) {
            let ignore_columns = [];
            let ip_position = find_position('host.ip_address-input');
            let port_position = find_position('port')
            let proto_position = find_position('access_protocol.title-input')
            let filename = '';
            let require_unique = true;
            if(export_type === 'ip_address'){
                ignore_columns = Array.from(Array(document.getElementById('service-table').rows[0].cells.length).keys()).filter(item => item !== ip_position);
                filename = "IP addresses from project #{{ project.id }}";
            }
            else if (export_type === 'ip_port') {
                ignore_columns = Array.from(Array(document.getElementById('service-table').rows[0].cells.length).keys()).filter(item => item !== ip_position && item !== port_position);
                filename = 'IP addresses and port from project #{{ project.id }}'
            }
            $('#service-table').bootstrapTable('togglePagination').tableExport({
                type: 'txt',
                exportDataType: "all",
                ignoreColumn: ignore_columns,//Ignore the index of a column
                ignoreRow: [0],
                csvSeparator: ':',
                fileName: filename,
            })
            $('#service-table').bootstrapTable('togglePagination')
        };
        document.getElementById("button-export-ip-address-services").addEventListener('click', function(){
            special_export('ip_address');
        });
        document.getElementById('button-export-ip-port-services').addEventListener('click', function() {
            special_export('ip_port');
        });
        $(function () {
            $.contextMenu({
                selector: '.with-context-menu-service',
                callback: function (key, options) {
                    if (key === 'open') {
                        window.open("{{ url_for('networks.service_show', service_id='__service_id') }}".replace("__service_id", options.$trigger[0].children[0].textContent), '_blank')
                    }
                    else if(key === 'edit') {
                        window.open("{{ url_for('networks.service_edit', service_id='__service_id') }}".replace('__service_id', options.$trigger[0].children[0].textContent), '_blank').focus()
                    }
                },
                items: {
                    "open": { name: '{{ _("Open in new tab") }}', icon: "filescroll" },
                    "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                }
            });
        });
      </script>
{% endblock %}