{% extends 'layout/base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/file_explorer/file-explorer.css') }}">
{% endblock %}

{% block page_content %}
<div id="filemanager"></div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/file-explorer.js') }}" nonce="{{ csp_nonce() }}"></script>
<script type="text/javascript" nonce="{{ csp_nonce() }}">
    const webfiles_io = io('/webfiles');
    webfiles_io.on('connect', function () {
        webfiles_io.emit('join_room', '{{ project.id }}');
    });
    if (window.location.href.indexOf('embed=true') > -1) document.documentElement.classList.add('embed');
    var elem = document.getElementById('filemanager');
    var options = {
        group: 'main_group',
        capturebrowser: true,
        initpath: [
            ['dir_{{ parent_dir.id }}', '{{ project.fulltitle }}'], // , { canmodify: false }
        ],

        tools: {
            item_checkboxes: true
        },

        onrefresh: function (folder, required) {
            $.ajax({
                url: '{{ url_for("webfiles.filedirectory_folder_content", folder_id="__folder_id") }}'.replace('__folder_id', folder.GetPathIDs()[folder.GetPathIDs().length - 1]),
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        folder.SetEntries(data.entries)
                    }
                    else if (required) {
                        this.SetNamedStatusBarText('folder', this.EscapeHTML('{{ _("Error when loading a directory") }}: ' + data.error))
                    };
                }
            });
        },

        onrename: function (renamed, folder, entry, newname) {
            webfiles_io.emit('rename element', { 'title': newname, 'id': entry.id }, data => {
                if (data.message) {
                    renamed(data.message);
                }
                else {
                    entry.name = newname;
                    renamed(entry);
                }
            });
        },

        onnewfolder: function (created, folder) {
            let last_path = folder.GetPath()[folder.GetPath().length - 1]
            webfiles_io.emit('new folder', { title: '{{ _("New directory") }}', parent_dir_id: last_path[0] }, data => {
                if(data===undefined) {
                    alert("{{ _('You don\'t have the rights to perform this action') }}");
                    created(false);
                }
                else {
                    var entry = { type: 'folder', id: data.dir_id, name: data.name };
                    created(entry);
                }
            });
        },

        oncopy: function (copied, srcpath, srcids, destfolder) {
            webfiles_io.emit('copy elements', { 'copy_objects': String(srcids), 'to_dir_id': destfolder.GetPathIDs()[destfolder.GetPathIDs().length - 1] }, data => {
                if (data.copied_objects) {
                    copied(true, data.copied_objects);
                } else {
                    alert('{{ _("Something went wrong. Try refreshing the page") }}');
                };
            })
        },

        onmove: function (moved, srcpath, srcids, destfolder) {
            webfiles_io.emit('move elements', { 'moved_objects': String(srcids), 'dest_folder': destfolder.GetPathIDs()[destfolder.GetPathIDs().length - 1] }, data => {
                if (data.moved_objects) {
                    moved(true, data.moved_objects);
                }
                else {
                    alert('_("Something went wrong. Try refreshing the page")')
                }
            });
        },

        ondelete: function (deleted, folder, ids, entries, recycle) {
            if (confirm('{{ _("Are you sure you want to delete this objects?") }}')) {
                webfiles_io.emit('delete elements', { 'deleted_objects': String(ids) }, data => {
                    if(data===undefined) {
                        alert("{{ _('You don\'t have the rights to perform this action') }}");
                        deleted(false);
                    }
                    deleted(data);
                });
            }
        },

        oninitupload: function (startupload, fileinfo) {
                fileinfo.url = '{{ url_for("files.upload_file", client="filemanager") }}';
                fileinfo.headers = { 'X-CSRFToken': '{{ csrf_token() }}' };
                fileinfo.params = {
                    'directory_id': fileinfo.folder.GetPathIDs()[fileinfo.folder.GetPathIDs().length - 1].slice(4)
                };
                fileinfo.fileparam = 'upload';
                // Optional:  Send chunked uploads.  Requires the server to know how to put chunks back together.
                //fileinfo.chunksize = 1000000;
                // Optional:  Automatic retry count for the file on failure.
                fileinfo.retries = 3;
                // Start the upload.
                startupload(true);
        },
        oninitdownload: function (startdownload, folder, ids, entries) {
            // Set a URL and params to send with the request to the server.
            var options = {};
            options.method = 'POST';
            options.url = '{{ url_for("webfiles.tree_download") }}';

            options.params = {
                files_ids: String(ids),
                csrf_token: '{{ csrf_token() }}'
            };
            // Optional:  Control the download via an in-page iframe (default) vs. form only (new tab).
            options.iframe = false;

            startdownload(options);
        },
        langmap: {
            'Recent locations': '{{ _("Recent locations") }}',
            'This folder is empty.': '{{ _("This folder is empty.") }}',
            'Loading...': '{{ _("Loading...") }}',
            '{0} items': '{{ _("{0} items") }}',
            'Back (Alt + Left Arrow)': '{{ _("Back (Alt + Left Arrow)") }}',
            'Back to "{0}" (Alt + Left Arrow)': '{{ _("Back to \"{0}\" (Alt + Left Arrow)") }}',
            'Forward (Alt + Right Arrow)': '{{ _("Forward (Alt + Right Arrow)") }}',
            'Forward to "{0}" (Alt + Right Arrow)': '{{ _("Forward to \"{0}\" (Alt + Right Arrow)") }}',
            'Up (Alt + Up Arrow)': '{{ _("Up (Alt + Up Arrow)") }}',
            'Up to "{0}" (Alt + Up Arrow)': '{{ _("Up to \"{0}\" (Alt + Up Arrow)") }}',
            'Stopping...': '{{ _("Stopping...") }}',
            'Copy 1 item...': '{{ _("Copy 1 item...") }}',
            'Copy {0} items...': '{{ _("Copy {0} items...") }}',
            'Copying 1 item...': '{{ _("Copying 1 item...") }}',
            'Copying {0} items...': '{{ _("Copying {0} items...") }}',
            'Copy 1 item to "{1}"...': '{{ _("Copy 1 item to \"{1}\"...") }}',
            'Copy {0} items to "{1}"...': '{{ _("Copy {0} items to \"{1}\"...") }}',
            'Copying 1 item to "{1}"...': '{{ _("Copying 1 item to \"{1}\"...") }}',
            'Copying {0} items to "{1}"...': '{{ _("Copying {0} items to \"{1}\"...") }}',
            'Move 1 item...': '{{ _("Move 1 item...") }}',
            'Move {0} items...': '{{ _("Move {0} items...") }}',
            'Moving 1 item...': '{{ _("Moving 1 item...") }}',
            'Moving {0} items...': '{{ _("Moving {0} items...") }}',
            'Move 1 item to "{1}"...': '{{ _("Move 1 item to \"{1}\"...") }}',
            'Move {0} items to "{1}"...': '{{ _("Move {0} items to \"{1}\"...") }}',
            'Moving 1 item to "{1}"...': '{{ _("Moving 1 item to \"{1}\"...") }}',
            'Moving {0} items to "{1}"...': '{{ _("Moving {0} items to \"{1}\"...") }}',
            'Copy to clipboard completed': '{{ _("Copy to clipboard completed") }}',
            'Cut to clipboard completed': '{{ _("Cut to clipboard completed") }}',
            'Paste operation failed': '{{ _("Paste operation failed") }}',
            'Paste operation failed due to mismatched group name': '{{ _("Paste operation failed due to mismatched group name") }}',
            'Renaming "{0}" to "{1}"...': '{{ _("Renaming \"{0}\" to \"{1}\"...") }}',
            'Deleting items failed.': '{{ _("Deleting items failed.") }}',
            'Deleting items failed.  {0}': '{{ _("Deleting items failed.  {0}") }}',
            'Deleting 1 item...': '{{ _("Deleting 1 item...") }}',
            'Deleting {0} items...': '{{ _("Deleting {0} items...") }}',
            'New Folder (Ctrl + Ins)': '{{ _("New Folder (Ctrl + Ins)") }}',
            'Creating a new folder...': '{{ _("Creating a new folder...") }}',
            'Creating a new folder failed.': '{{ _("Creating a new folder failed.") }}',
            'Creating a new folder failed.  {0}': '{{ _("Creating a new folder failed.  {0}") }}',
            'New File (Ins)': '{{ _("New File (Ins)") }}',
            'Creating a new file...': '{{ _("Creating a new file...") }}',
            'Creating a new file failed.': '{{ _("Creating a new file failed.") }}',
            'Creating a new file failed.  {0}': '{{ _("Creating a new file failed.  {0}") }}',
            'Upload (Ctrl + U)': '{{ _("Upload (Ctrl + U)") }}',
            'Download': '{{ _("Download") }}',
            'Download failed to start': '{{ _("Download failed to start") }}',
            'Starting download...': '{{ _("Starting download...") }}',
            'Initializing download...': '{{ _("Initializing download...") }}',
            'Download initialization failed.': '{{ _("Download initialization failed.") }}',
            'Download initialization failed.  {0}': '{{ _("Download initialization failed.  {0}") }}',
            'Delete (Del)': '{{ _("Delete (Del)") }}',
            'Item Checkboxes': '{{ _("Item Checkboxes") }}',
            'Copy (\u2318 + C)': '{{ _("Copy (\u2318 + C)") }}',
            'Copy (Ctrl + C)': '{{ _("Copy (Ctrl + C)") }}',
            'Paste (\u2318 + V)': '{{ _("Paste (\u2318 + V)") }}',
            'Paste (Ctrl + V)': '{{ _("Paste (Ctrl + V)") }}',
            'Cut (\u2318 + X)': '{{ _("Cut (\u2318 + X)") }}',
            'Cut (Ctrl + X)': '{{ _("Cut (Ctrl + X)") }}',
            '{0} items selected {1}': '{{ _("{0} items selected {1}") }}',
            '1 item selected {0}': '{{ _("1 item selected {0}") }}',
            '1 item selected': '{{ _("1 item selected") }}',
            '{0} uploading': '{{ _("{0} uploading") }}',
            'Error uploading "{0}" ({1})': '{{ _("Error uploading \"{0}\" ({1})") }}',
            'Finalizing "{0}" failed.  {1}': '{{ _("Finalizing \"{0}\" failed.  {1}") }}',
            'Finalizing "{0}" failed.': '{{ _("Finalizing \"{0}\" failed.") }}',
            'Uploading "{0}"...': '{{ _("Uploading \"{0}\"...") }}',
            'Starting "{0}" failed.  {1}': '{{ _("Starting \"{0}\" failed.  {1}") }}',
            'Renaming "{0}" to "{1}" failed.': '{{ _("Renaming \"{0}\" to \"{1}\" failed.") }}',
            'Renaming "{0}" to "{1}" failed.  {2}': '{{ _("Renaming \"{0}\" to \"{1}\" failed.  {2}") }}'
        }
    };

    var fe = new window.FileExplorer(elem, options);
    fe.Focus();
</script>
{% endblock %}