.admin-index-element {
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px;
    width: 200px;
    padding: 10px;
    overflow: hidden;
    background-color: var(--main-text-color);
    transition: all 0.5s;
}
.admin-index-element i {
    font-size: 30px;
}
.admin-index-element:hover {
    background-color: var(--main-color);
    color: var(--main-text-color);
}
.admin-index-element::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    bottom: -100px;
    right: -80px;
    -webkit-transition: all 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.admin-index-element:hover::after {
    opacity: 1;
}