.breadcrumb{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.1);
    border-radius: 0;
}
.breadcrumb li{
    float: left;
    border-bottom: 4px solid rgba(0,0,0,0.3);
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    position: relative;
}
.breadcrumb li:nth-child(even){ background: rgba(0,0,0,0.1); }
.breadcrumb li:last-child{
    padding: 7px 15px;
    color: #fff;
    background: var(--main-color);
    position: relative;
}
.breadcrumb li:last-child:after{
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    border: 10px solid transparent;
    border-top: 15px solid var(--neightboring-main-color);
    position: absolute;
    bottom: -25px;
    right: 10px;
}
.breadcrumb li:before{ display: none; }
.breadcrumb li a{
    display: block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}
.breadcrumb li:last-child a{
    display: block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-text-color);
}
@media only screen and (max-width: 479px){
    .breadcrumb li a,
    .breadcrumb li:last-child{
        padding: 8px;
        font-size: 12px;
    }
}