.input-h3:read-only {
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    margin:0 0 0px;
    font-size:20px;
    font-weight:bold;
    color: var(--main-color);
}
.input-h3:read-only {
    cursor: pointer;
}
.input-h3 {
    width: 100%;
    resize: none;
    background-color: #fff;
    margin: 0 0 0px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}
.input-p:read-only {
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    color: #565656;
}
.input-p:read-only:hover {
    cursor: pointer;
}
.input-p{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #fff;
    font-size: 16px;
}