        .team-list {
            padding: 2em 0 2em 2.5em;
            margin: 0;
        }
        
        .team-item {
            margin: 1.5em 0 0.5em;
            padding: 0.73em;
            background: linear-gradient(
                83deg,
                var(--main-color) 0 97%,
                #fff0 calc(97% + 1px) 100%
            );
            position: relative;
            list-style: none;
            display: inline-flex;
            transform: scale(0.85);
            transition: all 0.4s ease 0s;
        }
        
        
        .team-thumb {
            width: 13vmin;
            height: 13vmin;
            float: left;
            margin-right: 1.25em;
            background: linear-gradient(
                var(--deg),
                var(--dark-color) 0 70%,
                var(--main-color) 0% 100%
            );
            transform: rotate(-4deg);
            transition: all 0.4s ease 0s;
            border-radius: 0.25em;
            overflow: hidden;
            margin-left: -3em;
            padding: 0.5em;
        }
        
        .team-thumb img {
            width: 100%;
            height: 100%;
            border-radius: 0.25em;
            filter: grayscale(1);
            background: var(--dark-color);
        }
        
        .team-item:hover {
            transform: scale(1);
            transition: all 0.4s ease 0s;
            filter: drop-shadow(0px 20px 10px #0008);
        }
        
        .team-item:hover .team-thumb {
            padding: 0.1em;
            transition: all 0.4s ease 0s;
            transform: rotate(-1deg);
            --deg: -89deg;
        }
        
        .team-item:hover .team-thumb img {
            filter: none;
            transition: all 0.4s ease 0s;
        }
        
        .team-description {
            color: var(--main-text-color);
            padding-top: 1vmin;
        }
        
        .team-description p {
            padding: 0 2em;
            margin-bottom: 1em;
        }
        
        a.team-link-item {
            text-decoration: none;
            background: linear-gradient(182deg, #fff0 0%, var(--dark-color) 0% 100%);
            display: inline;
            transform: rotate(-2deg);
            position: absolute;
            margin: 0;
            margin-top: -2.25em;
            left: 9vmin;
            padding: 0.5em 0.75em;
            color: var(--main-text-color);
            border-radius: 0.25em;
            font-size: 1.35em;
            transform-origin: left bottom;
        }

        a.team-link-item:hover {
            transition: all 0.4s ease 0s;
            transform: rotate(0deg);
            background: linear-gradient(180deg, #fff0 0%, var(--dark-color) 0 100%);
        }
        
        .team-description p a {
            color: var(--main-text-color);
            display: inline-block;
            margin: 0.5em 0 0 0;
            background: var(--dark-color);
            padding: 0.1em 0.5em 0.35em;
            border-radius: 0.5em;
            text-decoration: none;
            transition: all 0.4s ease 0s;
        }
        .team-description p a:hover {
            transition: all 0.4s ease 0s;
            color: var(--main-text-color);
            background: var(--hovering-main-element-color);
            font-weight: bold;
        }
        
        .team-description p a img {
            float: left;
            width: 22px;
            filter: invert(1);
            border-radius: 0.15em;
            padding: 2px;
            background: #fff;
            margin-right: 2px;
        }