{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import load_bootstrap_table_js, form_element %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div id="issue-template-toolbar">
            <div class="dropdown">
                <button class="btn btn-primary btn-rounded" data-bs-toggle="modal" data-bs-target="#modalImportIssueTemplates">
                    <i class="fa-solid fa-file-import"></i>{{ _("Import") }}
                </button>
                <a href="" class="btn btn-primary btn-rounded" id="export-issue-templates-button" style="visibility: hidden"><i class="fa-solid fa-file-arrow-down"></i>
                    {{ _("Export") }}
                </a>
                <a href="" class="btn btn-primary btn-rounded" id="delete-issue-templates-button" style="visibility: hidden"><i class="fa-solid fa-trash"></i>
                    {{ _("Delete") }}
                </a>
            </div>
        </div>
        <table class="table" id="issue-templates-table"
               data-toolbar="#issue-template-toolbar"
               data-pagination="true"
               data-show-columns="true"
               data-show-toggle="true"
               data-show-pagination-switch="true"
               data-show-export="true"
               data-show-multi-sort="true"
               data-filter-control="true"
               data-buttons-class="primary"
               data-cookie="true"
               data-cookie-id-table="IssueTemplatesIndex"
               data-select="true"
               data-cookie-storage="localStorage">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id" data-sortable="true" data-align="center">{{ models.IssueTemplate.id.info["label"] }}</th>
                    <th data-field="title" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.title.info["label"] }}</th>
                    <th data-field="description" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.description.info["label"] }}</th>
                    <th data-field="issue_title" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_title.info["label"] }}</th>
                    <th data-field="issue_description" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_description.info["label"] }}</th>
                    <th data-field="issue_fix" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_fix.info["label"] }}</th>
                    <th data-field="issue_technical" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_technical.info["label"] }}</th>
                    <th data-field="issue_riscs" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_riscs.info["label"] }}</th>
                    <th data-field="issue_cvss" data-sortable="true" data-align="center" data-filter-control="input">{{ models.IssueTemplate.issue_cvss.info["label"] }}</th>
            </thead>
            <tbody>
                {% for template in templates %}
                <tr style="cursor:pointer">
                    <td></td>
                    <td>{{ template.id }}</td>
                    <td>{{ template.title|safe }}</td>
                    <td>{{ sanitizer.pure_text(template.description) }}</td>
                    <td>{{ template.issue_title|safe }}</td>
                    <td>{{ sanitizer.pure_text(template.issue_description) }}</td>
                    <td>{{ sanitizer.pure_text(template.issue_fix) }}</td>
                    <td>{{ sanitizer.pure_text(template.issue_technical) }}</td>
                    <td>{{ sanitizer.pure_text(template.issue_riscs) }}</td>
                    {% if template.issue_cvss != none %}
                    <td>{{ template.issue_cvss }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade modal-xl" id="modalImportIssueTemplates" tabindex="-1" aria-labelledby="modalImportIssueTemplatesLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalImportIssueTemplatesLabel">{{ _("Import issue templates") }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
      </div>
      <form action="{{ url_for('admin.issue_template_import') }}" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="col-12 position-relative">
            <div class="form-group">
                {{ import_issue_templates.hidden_tag() }}
                {{ form_element(import_issue_templates, import_issue_templates.import_file, inline=True) }}
                {{ form_element(import_issue_templates, import_issue_templates.override_exist, inline=True) }}
            </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ import_issue_templates.submit(class='btn btn-primary') }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
{{ load_bootstrap_table_js('issue-templates-table', 'admin.issue_template_show', 'template_id') }}
<script nonce="{{ csp_nonce() }}">
    document.getElementById('export-issue-templates-button').addEventListener('click', function(e) {
        e.preventDefault();
        let selected = $('#issue-templates-table').bootstrapTable('getSelections').map((item) => { return item.id }).join(',');
        location.href = "{{ url_for('admin.issue_template_export', selected='__selected') }}".replace('__selected', encodeURIComponent(selected));
    });
    let change_bs_table_checked = (row, $element) => {
        let selected = $('#issue-templates-table').bootstrapTable('getSelections');
        if (selected.length !== 0) {
            document.getElementById('export-issue-templates-button').style.visibility = null;
            document.getElementById('delete-issue-templates-button').style.visibility = null;
        }
        else {
            document.getElementById('export-issue-templates-button').style.visibility = 'hidden';
            document.getElementById('delete-issue-templates-button').style.visibility = 'hidden';
        }
    };
    $('#issue-templates-table').on('check.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element);
    });
    $('#issue-templates-table').on('uncheck.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    $('#issue-templates-table').on('check-all.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    $('#issue-templates-table').on('uncheck-all.bs.table', (row, $element) => { 
        change_bs_table_checked(row, $element)
    });
    document.getElementById('delete-issue-templates-button').addEventListener('click', (e) => {
        e.preventDefault();
        if (confirm('{{ _("Are you sure you want to delete this objects?") }}')) {
            let promises = [];
            $('#issue-templates-table').bootstrapTable('getSelections').forEach((item) => {
                promises.push(fetch('{{ url_for("admin.issue_template_delete", template_id="__template_id") }}'.replace('__template_id', item.id), {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token() }}"
                    }
                }))
            })
            let promise_result = Promise.all(promises).then((responses) => {
                if(responses.every((v) => { return v.ok })) {
                    $.notify("{{ _('All specified issue templates successfully deleted') }}", "success", {
                        clickToHide: true,
                        autoHide: true,
                        autoHideDelay: 5000,
                        globalPosition: 'top right'
                    });
                    $('#issue-templates-table').bootstrapTable('remove', {
                        field: 'id',
                        values: $('#issue-templates-table').bootstrapTable('getSelections').map((item) => { return item.id })
                    });
                    document.getElementById('export-issue-templates-button').style.visibility = 'hidden';
                    document.getElementById('delete-issue-templates-button').style.visibility = 'hidden';
                }
                else {
                    $.notify("{{ _('Something went wrong. Try refreshing the page') }}", "error", {
                        clickToHide: true,
                        autoHide: true,
                        autoHideDelay: 5000,
                        globalPosition: 'top right'
                    });
                }
            });
        }
    });
</script>
{% endblock %}