{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <table class="table"    id="task-table"
                                        data-search="true"
                                        data-show-columns="true"
                                        data-show-toggle="true"
                                        data-show-export="true"
                                        data-show-multi-sort="true"
                                        data-filter-control="true"
                                        data-buttons-class="primary"
                                        data-pagination="true"
                                        data-side-pagination="server"
                                        data-page-list="[10, 25, 50, 100, 500, All]"
                                        data-show-pagination-switch="true"
                                        data-url="{{ url_for('tasks.projecttask_index_on_me_data', project_id=project.id) }}"
                                        data-row-style="issueRowStyle">
                </table>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        $(function() {
            var hide_columns = new Set(JSON.parse(localStorage.getItem("ProjectTaskIndexHideColumns"))); // -> Set('title')
            if(hide_columns === null) {
                hide_columns = new Set();
            };
            $('#task-table').bootstrapTable({
                columns: [
                {
                    field: 'id',
                    title: '#',
                    align: 'center',
                    sortable: true,
                    visible: !(hide_columns.has('id')),
                },
                {
                    field: 'tracker',
                    title: "{{ models.ProjectTask.tracker.info['label'] }}",
                    align: 'center',
                    sortable: true,
                    filterControl: 'select',
                    filterData: 'json:{{ filters["ProjectTaskTracker"]|escapejs }}',
                    visible: !(hide_columns.has('tracker')),
                },
                {
                    field: 'title',
                    title: '{{ models.ProjectTask.title.info["label"] }}',
                    align: 'center',
                    sortable: true,
                    filterControl: 'input',
                    visible: !(hide_columns.has('title')),
                },
                {
                    field: 'description',
                    title: '{{ models.ProjectTask.description.info["label"] }}',
                    align: 'center',
                    sortable: true,
                    filterControl: 'input',
                    visible: !(hide_columns.has('description')),
                },
                {
                    field: 'priority',
                    title: '{{ models.ProjectTask.priority.info["label"] }}',
                    align: 'center',
                    sortable: true,
                    filterControl: 'select',
                    filterData: 'json:{{ filters["ProjectTaskPriority"]|escapejs }}',
                    visible: !(hide_columns.has('priority')),
                },
                {
                    field: 'readiness',
                    title: "{{ models.ProjectTask.readiness.info['label'] }}",
                    align: 'center',
                    sortable: true,
                    filterControl: 'input',
                    visible: !(hide_columns.has('readiness')),
                },
                {
                    field: 'state',
                    title: "{{ models.ProjectTask.state.info['label'] }}",
                    align: 'center',
                    sortable: true,
                    filterControl: 'select',
                    filterData: 'json:{{ filters["TaskState"]|escapejs }}',
                    visible: !(hide_columns.has('state')),
                }
                ],
                onPreBody: function(data) {
                    var pageSizeData = localStorage.getItem("ProjectTaskIndexPageSize");
                    if (pageSizeData != null) {
                        var pageSizeInt = parseInt(pageSizeData);
                        if(isNaN(pageSizeInt)) {
                            pageSizeInt = 500;
                        }
                        this.pageSize = pageSizeInt;
                    }
                },
                onPageChange: function(pageNumber, pageSize) {
                    localStorage.setItem("ProjectTaskIndexPageSize", pageSize)
                },
                onColumnSwitch: function(field, checked) {
                    var hide_columns = new Set(JSON.parse(localStorage.getItem("ProjectTaskIndexHideColumns")));
                    if(checked) {
                        hide_columns.delete(field);
                        localStorage.setItem("ProjectTaskIndexHideColumns", JSON.stringify(Array.from(hide_columns)));
                    }
                    else {
                        hide_columns.add(field);
                        localStorage.setItem("ProjectTaskIndexHideColumns", JSON.stringify(Array.from(hide_columns)));
                    };
                },
                icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                buttonsClass: 'primary',
                exportTypes: ['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],
                onClickRow: function(row, element, field) {
                    location = "{{ url_for('tasks.projecttask_show', projecttask_id='__row_id') }}".replace("__row_id", row.id)
                }
            })
          });
    </script>
    <script nonce="{{ csp_nonce() }}">
        function issueRowStyle(row, index) {
            return { css: {"cursor": 'pointer', 'background-color': row.background_color } }
        }
      </script>
{% endblock %}