{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h6>{{ _("Create by template") }}:</h6>
                <div class="form-group row">
                    <select class="select2-standard-widged" id="task-pattern" name="task-pattern">
                        <option value=""></option>
                        {% for template in patterns %}
                        <option value="{{ template.id }}">{{ template.title|safe }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row gy-2">
                        <div class="col-6">
                            {{ form_element(form, form.tracker_id, inline=True) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.title) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.description) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.priority_id, inline=True) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.estimation_time_cost, inline=True) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.assigned_to_id, inline=True) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.date_start, inline=True) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.parent_task_id, inline=True) }}
                        </div>
                        <div class="col-6">
                            {{ form_element(form, form.date_end, inline=True) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.observers) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.issues) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.services) }}
                        </div>
                        <div class="col-12">
                            {{ form_element(form, form.related_files) }}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-4">
                            {{ form.submit(class='btn btn-primary') }}
                            {{ form.submit_and_add_new(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    $(document).ready(function() {$("#task-pattern").select2({
        language: "{{ g.locale }}",
        placeholder: "{{ _('Select an option') }}",
        allowClear: true,
    })
    });
    $('#task-pattern').on('select2:select', function(e) {
        if (e.params.data.id !== null || e.params.data.id !== undefined) {
            $.ajax({
                "method": "GET",
                "url": '{{ url_for("tasks.projecttask_data_by_template", template_id="__templ_id") }}'.replace("__templ_id", e.params.data.id)
            }).done(function (response) {
                $('#{{ form.title.id }}')[0].value = response.title;
                if(response.description !== null) {
                    CKEDITOR_LIST['{{ form.description.id }}'].setData(response.description);
                };
                $('#{{ form.tracker_id.id }}')[0].value = response.tracker;
                $('#{{ form.priority_id.id }}')[0].value = response.priority;
                $('#{{ form.estimation_time_cost.id }}')[0].value = response.eta;
                $('#{{ form.by_template_slug.id }}')[0].value = response.slug;
            }).fail(function (error) {
                alert("{{ _('Something went wrong. Try to reload page') }}");
            })
        }
    });
</script>
{% endblock %}