{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/button_hide_if_no_mouse.css') }}" nonce="{{ csp_nonce() }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="button_hide_if_no_mouse">{{ _("Password policy") }}<button data-bs-toggle="modal" data-bs-target="#modalEditPasswordPolicy" class="btn-outline-light btn-rounded"><i class="fa-solid fa-pencil"></i></button></h5>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>{{ models.GlobalSettings.password_min_length.info["label"] }}:</td>
                                <td>{{ global_settings.password_min_length }}</td>
                            </tr>
                            <tr>
                                <td>{{ models.GlobalSettings.password_lifetime.info["label"] }}:</td>
                                <td>{{ global_settings.password_lifetime }}</td>
                            </tr>
                            <tr>
                                <td>{{ models.GlobalSettings.password_lowercase_symbol_require.info["label"] }}:</td>
                                <td>{% if global_settings.password_lowercase_symbol_require %}{{ _("Yes") }}{% else %}{{ _("No") }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{{ models.GlobalSettings.password_uppercase_symbol_require.info["label"] }}:</td>
                                <td>{% if global_settings.password_uppercase_symbol_require %}{{ _("Yes") }}{% else %}{{ _("No") }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{{ models.GlobalSettings.password_numbers_require.info["label"] }}:</td>
                                <td>{% if global_settings.password_numbers_require %}{{ _("Yes") }}{% else %}{{ _("No") }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{{ models.GlobalSettings.password_special_symbols_require.info["label"] }}:</td>
                                <td>{% if global_settings.password_special_symbols_require %}{{ _("Yes") }}{% else %}{{ _("No") }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-xl" id="modalEditPasswordPolicy" tabindex="-1" aria-labelledby="modalEditPasswordPolicyLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditPasswordPolicyLabel">{{ _("Edit password policy") }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <form action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="modal-body">
        <div class="col-12 position-relative">
          <div class="form-group">
            {{ form_element(form, form.password_min_length, inline=True) }}
            {{ form_element(form, form.password_lifetime, inline=True) }}
            {{ form_element(form, form.password_lowercase_symbol_require, inline=True) }}
            {{ form_element(form, form.password_uppercase_symbol_require, inline=True) }}
            {{ form_element(form, form.password_numbers_require, inline=True) }}
            {{ form_element(form, form.password_special_symbols_require, inline=True) }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {{ form.submit(class="btn btn-primary") }}
      </div>
      </form>
    </div>
    </div>
</div>
{% endblock %}