{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <table class="table" id="objects-table" data-pagination="true" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-export="true" data-show-multi-sort="true" data-filter-control="true" data-buttons-class="primary">
            <thead>
                <tr>
                    <th data-field="class_name" data-sortable="true" data-align="center" data-filter-control="input">{{ _("The internal name of class") }}</th>
                    <th data-field="class_title" data-sortable="true" data-align="center" data-filter-control="input">{{ _("Enumeration object") }}</th>
                    <th data-field="description" data-sortable="true" data-align="center" data-filter-control="input">{{ _("Description of enumeration object") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                <tr style="cursor:pointer">
                    <td>{{ obj.__name__ }}</td>
                    <td>{{ obj.Meta.verbose_name }}</td>
                    <td>{{ obj.Meta.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
    $(function() {
        $('#objects-table').bootstrapTable({
                  icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                  onPreBody: function(data) {
                    var pageSizeData = localStorage.getItem("ObjectIndexPageSize");
                    if (pageSizeData != null) {
                        var pageSizeInt = parseInt(pageSizeData);
                        if(isNaN(pageSizeInt)) {
                            pageSizeInt = 500;
                        }
                        this.pageSize = pageSizeInt;
                    }
                },
                onPageChange: function(pageNumber, pageSize) {
                    localStorage.setItem("ObjectIndexPageSize", pageSize)
                },
                  onClickRow: function(row, element, field) {
                    location = "{{ url_for('admin.object_type_index', object_type='__row_name') }}".replace("__row_name", row.class_name)
                  }
              })
      })
    </script>
{% endblock %}