{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <table class="table" id="objects-table"
                             data-search="true"
                             data-show-columns="true"
                             data-show-toggle="true"
                             data-show-export="true"
                             data-show-multi-sort="true"
                             data-filter-control="true"
                             data-buttons-class="primary"
                             data-pagination="true"
                             data-side-pagination="server"
                             data-page-list="[10, 25, 50, 100, 500, All]"
                             data-url="{{ url_for('admin.object_type_index_data', object_type=object_type) }}">
            <thead>
                <tr>
                    {% for attr_id, attr_name, attr_type, attr_data in attrs %}
                    {% if attr_type == none %}
                    <th data-field="{{ attr_id }}" data-sortable="true" data-align="center" data-valign="center">{{ attr_name }}</th>
                    {% elif attr_data == none %}
                    <th data-field="{{ attr_id }}" data-sortable="true" data-align="center" data-valign="center" data-filter-control="{{ attr_type }}">{{ attr_name }}</th>
                    {% else %}
                    <th data-field="{{ attr_id }}" data-sortable="true" data-align="center" data-valign="center" data-filter-control="{{ attr_type }}" data-filter-data='json:{{ attr_data }}'>{{ attr_name }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</div>
<form id="delete_object_form" method="POST" action="{{ url_for('admin.object_type_delete', object_type=object_type) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="id" id="form_object_id" value="">
</form>

{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
    $(function() {
        $('#objects-table').bootstrapTable({
                  icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                  rowStyle: { classes: "with-context-menu-object" },
                  onPreBody: function(data) {
                    var pageSizeData = localStorage.getItem("ObjectTypeIndexPageSize");
                    if (pageSizeData != null) {
                        var pageSizeInt = parseInt(pageSizeData);
                        if(isNaN(pageSizeInt)) {
                            pageSizeInt = 500;
                        }
                        this.pageSize = pageSizeInt;
                    }
                },
                onPageChange: function(pageNumber, pageSize) {
                    localStorage.setItem("ObjectTypeIndexPageSize", pageSize)
                },
              });
      });
      $(function () {
        $.contextMenu({
            selector: '.with-context-menu-object',
            callback: function (key, options) {
                if(key === 'edit') {
                    location.href = ("{{ url_for('admin.object_type_edit', object_type=object_type, object_id='__row_id') }}".replace('__row_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id));
                }
                else if (key === 'delete') {
                    if(confirm('{{ _("Are you sure you want to delete this object?") }}')) {
                        document.getElementById("form_object_id").value = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id;
                        document.getElementById('delete_object_form').submit()
                    }
                }
            },
            items: {
                "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                "delete": { name: '{{ _("Delete") }}', icon: 'delete' },
            }
        });
    });
    </script>
{% endblock %}