{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<div class="row gutters">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                      {% for form_attr in form_attrs %}
                        {{ form_element(form, form_attr[0], inline=True) }}
                      {% endfor %}
                    <div class="row justify-content-end">
                        <div class="col-3">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
