{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% set form_id = random_string(35) %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="positions-table" data-pagination="true"
                                data-show-columns="true"
                                data-show-toggle="true"
                                data-show-export="true"
                                data-show-multi-sort="true"
                                data-filter-control="true"
                                data-buttons-class="primary"
                                data-cookie="true"
                                data-cookie-id-table="AdminUserPositionIndex"
                                data-cookie-storage="localStorage">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true" data-align="center">{{ models.UserPosition.id.info["label"] }}</th>
                                <th data-field="string_slug" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserPosition.string_slug.info["label"] }}</th>
                                <th data-field="title" data-sortable="true" data-align="center" data-filter-control="input">{{ models.UserPosition.title.info["label"] }}</th>
                                <th data-field="is_default" data-sortable="true" data-align="center" data-filter-control="select">{{ models.UserPosition.is_default.info["label"] }}</th>
                                <th data-field="is_administrator" data-sortable="true" data-align="center" data-filter-control="select">{{ models.UserPosition.is_administrator.info["label"] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                            <tr class="with-context-menu">
                                <td>{{ position.id }}</td>
                                <td>{{ position.string_slug }}</td>
                                <td>{{ position.title }}</td>
                                {% if position.is_default %}
                                <td>{{ _("Yes") }}</td>
                                {% else %}
                                <td>{{ _("No") }}</td>
                                {% endif %}
                                {% if position.is_administrator %}
                                <td>{{ _("Yes") }}</td>
                                {% else %}
                                <td>{{ _("No") }}</td>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
<form id="{{ form_id }}" action="" method="POST" style="opacity:0">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
$(function() {
    $('#positions-table').bootstrapTable({
        icons: JSON.parse("{{ bootstrap_table_icons().strip() }}")
    })
});
    $(function() {
        $.contextMenu({
            selector: '.with-context-menu',
            items: {
                'edit': { name: '{{ _("Edit") }}', icon: 'edit' },
                'delete': { name: '{{ _("Delete") }}', icon: 'delete' }
            },
            callback: function(key, options) {
                if (key === 'edit') {
                    window.location.href = '{{ url_for("admin.user_positions_edit", position_id="__id__") }}'.replace('__id__', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id);
                } else if (key === 'delete') {
                    if(confirm('{{ _("Are you sure you want to delete this position?") }}')) {
                        let f = document.getElementById('{{ form_id }}');
                        f.action = "{{ url_for('admin.user_positions_delete', position_id='__position_id') }}".replace('__position_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id);
                        f.submit();
                    };
                };
            }
        });
    });
</script>
{% endblock %}