{% from 'layout/_macrosses.html' import navbar, sidebar, load_ckeditor_script %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pentest Collaboration Framework" />
	<meta name="keywords" content="Pentest, Pentest-Collaboration, In-Develop" />
	<meta name="author" content="Tovarisch Stalin" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.webp') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if title %}{{ title }} - PCF{% else %}{{ _("Welcome to PCF") }}{% endif %}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" nonce="{{ csp_nonce() }}">
		{% if not current_user.is_anonymous and current_user.programming_language_theme != none %}
		<link rel="stylesheet" href="{{ url_for('static', filename='js/highlight/styles/' + current_user.programming_language_theme.relative_path()) }}" nonce="{{ csp_nonce() }}">
        {% endif %}
		<link rel="stylesheet" href="{{ url_for('generic.get_ckeditor_styles', height=ckeditor_height) }}" type="text/css" nonce="{{ csp_nonce() }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css') }}" type="text/css" nonce="{{ csp_nonce() }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon/style.css') }}" nonce="{{ csp_nonce() }}">
        {% if (not (need_main_style) is defined or need_main_style) %}
			<link rel="stylesheet" href="{{ url_for('generic.get_current_user_theme_style', archived=archived) }}" nonce="{{ csp_nonce() }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}" type="text/css" nonce="{{ csp_nonce() }}">
        {% endif %}
		{{ side_libraries.get_css_required_libraries() }}
    {% endblock %}
</head>
<body>
    {% block loading_wrapper %}
    {% if not (loading_wrapper is defined) or loading_wrapper %}
        <div class="loading-wrapper">
            <div class="loading"></div>
        </div>
    {% endif %}
    {% endblock %}

	<div class="app-wrap">
		{% if not (need_main_style is defined) or need_main_style %}
		{{ navbar(current_user) }}
        {% endif %}
		<!-- END: .app-heading -->
		<!-- BEGIN .app-container -->
		<div class="app-container">
			<!-- BEGIN .app-side -->
			{% if not (need_main_style is defined) or need_main_style %}
			{{ sidebar(sidebar_data, current_user) }}
			{% endif %}

			<!-- BEGIN .app-main -->
			<div class="app-main">
				<!-- BEGIN .main-heading -->
				{% if not (need_main_style is defined) or need_main_style %}
				<header class="main-heading">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
								<div class="page-icon">
									<i class="{{ current_object.icon }}"></i>
								</div>
								<div class="page-title">
									<h5>{{ current_object.title }}</h5>
									{% if current_object.subtitle|length != 0 %}
									<h6 class="sub-heading">{{ current_object.subtitle }}</h6>
									{% endif %}
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
								<div class="right-actions">
									{% autoescape false %}
									{{ current_object.print_actions() }}
									{% endautoescape %}
								</div>
							</div>
						</div>
					</div>
				</header>
				{% endif %}
				<!-- END: .main-heading -->
				<!-- BEGIN .main-content -->
				<div class="main-content">
					{% if flash_in_header is defined and flash_in_header %}
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								<div class="row gutters">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									{% for category, message in messages %}
										<div class="alert custom alert-{{ category }}">
											{% if category == 'info' %}
											<i class="fa-solid fa-circle-info"></i>{{ message }}
											{% elif category == 'warning' %}
											<i class="fa-solid fa-bolt"></i>{{ message }}
											{% elif category == 'danger' %}
											<i class="fa-solid fa-triangle-exclamation"></i>{{ message }}
											{% elif category == 'success' %}
											<i class="fa-solid fa-check"></i>{{ message }}
											{% endif %}
										</div>
									{% endfor %}
									</div>
								</div>
							{% endif %}
						{% endwith %}
					{% endif %}
					
					{% block page_content %}
					{% endblock %}
				</div>
				<!-- END: .main-content -->
			</div>
			<!-- END: .app-main -->
		</div>
		<!-- END: .app-container -->
		<!-- BEGIN .main-footer -->
		<footer class="main-footer fixed-btm">
			{% block page_footer %}
			{% endblock %}
		</footer>
		<!-- END: .main-footer -->
	</div>
	{# block safe load params #}
	{% block script %}
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" nonce="{{ csp_nonce() }}"></script>
	{% if not (need_main_style is defined) or need_main_style %}
	<script src="{{ url_for('static', filename='npm/node_modules/socket.io-client/dist/socket.io.min.js') }}" nonce="{{ csp_nonce() }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}" nonce="{{ csp_nonce() }}"></script>
	<script src="{{ url_for('static', filename='js/main_helpers.js') }}" nonce="{{ csp_nonce() }}"></script>
	{{ side_libraries.get_js_required_libraries(csp_nonce=csp_nonce()) }}
	<script lang="javascript" nonce="{{ csp_nonce() }}">
		
		if("{{ current_user.is_anonymous }}" !== 'True') {
			const userSocket = io('/user');
			userSocket.on('connect', function() {
				userSocket.emit('join_room', "{{ current_user.id }}");
			});
			userSocket.on('new notification', function(data) {
				userSocket.emit('get notification', { notification_id: data['notification_id'], lang: "{{ g.locale }}" }, function(data) {
					let notification_list = document.getElementById('user-notification-list');
					let no_data_message = document.getElementById('details-user-notification-missing');
					if(no_data_message !== null) {
						no_data_message.remove();
					};
					let new_icon = document.createElement('div');
					new_icon.classList.add('icon');
					new_icon.innerHTML = data.by_user[0];
					let new_details = document.createElement('div');
					new_details.classList.add('details');
					let new_p_details = document.createElement('p');
					new_p_details.innerHTML = `<span>${data.by_user}</span> ${data.description}`;
					new_details.appendChild(new_p_details);
					let new_a = document.createElement('a');
					new_a.href = data.link;
					new_a.classList.add('dropdown-item');
					new_a.appendChild(new_icon);
					new_a.appendChild(new_details);
					let new_li = document.createElement('li');
					new_li.appendChild(new_a);
					notification_list.prepend(new_li);
					$.notify(data.description, "info", {
						clickToHide: true,
						autoHide: true,
						autoHideDelay: 5000,
						globalPosition: 'top right'
					})
				});
			});
			document.getElementById('app-side-mini-toggler').addEventListener('click', function() {
				userSocket.emit("toggle sidebar");
			});
		};
		
	</script>
	{% if not (flash_in_header is defined) or not flash_in_header  %}
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
			<script nonce="{{ csp_nonce() }}" lang="javascript">
				$.notify("{{ message }}", "{{ category }}", {
					clickToHide: true,
					autoHide: true,
					autoHideDelay: 5000,
					globalPosition: 'top right'
				})
			
			</script>
		{% endfor %}
	{% endwith %}
	{% endif %}
	<script src="{{ url_for('static', filename='js/unifyMenu.js') }}" nonce="{{ csp_nonce() }}"></script>
	<script src="{{ url_for('static', filename='js/onoffcanvas.js') }}" nonce="{{ csp_nonce() }}"></script>
	<script src="{{ url_for('static', filename='js/main_style_script.js') }}" nonce="{{ csp_nonce() }}"></script>
	{{ moment.include_moment(local_js=url_for('static', filename='npm/node_modules/moment/min/moment-with-locales.min.js'), locale=g.locale, csp_nonce=csp_nonce()) }}
	{% endif %}

	{% if side_libraries.is_library_required('ckeditor') %}
	{{ load_ckeditor_script(models) }}
	{% endif %}
	{% if side_libraries.is_library_required('bootstrap_table') %}
	{% if g.locale == 'ru' %}
	<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='npm/node_modules/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js') }}"></script>
	{% elif g.locale == 'en' %}
	<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='npm/node_modules/bootstrap-table/dist/locale/bootstrap-table-en-US.min.js') }}"></script>
	{% endif %}
	{% endif %}
	{% if not current_user.is_anonymous %}
	<script src="{{ url_for('static', filename='js/highlight/highlight.min.js') }}" nonce="{{ csp_nonce() }}"></script>
    <script nonce="{{ csp_nonce() }}">hljs.highlightAll();</script>
	{% endif %}
	{{ side_libraries.render_all_additional_scripts(csp_nonce=csp_nonce()) }}
	{% endblock %}
</body>
</html>
