{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}

{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="networks-toolbar">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ _("Export as") }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a id="button-export-all-included-ip-address" class="dropdown-item">{{ _("List of all included IP") }}</a></li>
                        </ul>
                    </div>
                </div>
                <table class="table"    id="networks-table"
                                        data-search="true"
                                        data-show-columns="true"
                                        data-show-toggle="true"
                                        data-show-export="true"
                                        data-show-multi-sort="true"
                                        data-filter-control="true"
                                        data-buttons-class="primary"
                                        data-pagination="true"
                                        data-side-pagination="server"
                                        data-show-pagination-switch="true"
                                        data-page-list="[10, 25, 50, 100, 500, All]"
                                        data-url="{{ url_for('networks.network_index_data', project_id=project.id) }}">
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        $(function() {
            $('#networks-table').bootstrapTable({
                cookie: true,
                cookieIdTable: "NetworkIndex",
                cookieStorage: "localStorage",
                onLoadSuccess: function(data) {
                    $('#networks-table > tbody > tr').mousedown(event => {
                        if(event.button === 1) {
                            window.open("{{ url_for('networks.network_show', network_id='__network_id') }}".replace("__network_id", $(event.currentTarget).parent().parent().bootstrapTable('getData')[$(event.currentTarget).data('index')].id), "_blank");
                        };
                     });
                },
                rowStyle: (row, index) => {
                    return { classes: "with-context-menu-networks", css: {"cursor": 'pointer' } }
                },
                filterControl: true,
                disableUnusedSelectOptions: true,
                columns: [
                {
                    field: 'id',
                    title: '#',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'title',
                    title: '{{ models.Network.title.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'description',
                    title: '{{ models.Network.description.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'ip_address',
                    title: '{{ models.Network.ip_address.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: "vlan_number",
                    title: '{{ models.Network.vlan_number.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'internal_ip',
                    title: '{{ models.Network.internal_ip.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'asn',
                    title: '{{ models.Network.asn.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                },
                {
                    field: 'connect_cmd',
                    title: '{{ models.Network.connect_cmd.info["label"] }}',
                    sortable: true,
                    align: 'center',
                    filterControl: 'input',
                }
                ],
                icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                showColumns: true,
                detailView: true,
                onClickRow: function(row, element, field) {
                    location = "{{ url_for('networks.network_show', network_id='__row_id') }}".replace("__row_id", row.id)
                },
                onExpandRow: function (index, row, $detail) {
                    $detail.html('<table class="hosts-table"></table>').find('table').bootstrapTable({
                        cookie: true,
                        cookieIdTable: "HostByNetworkOnNetworkIndex",
                        cookieStorage: "localStorage",
                        onLoadSuccess: function(data) {
                            $('.hosts-table > tbody > tr').mousedown(event => { 
                                if(event.button === 1) {
                                    window.open("{{ url_for('networks.host_show', host_id='__host_id') }}".replace("__host_id", event.currentTarget.children[1].innerHTML), "_blank");
                                };
                             });
                        },
                        columns: [
                        {
                            field: "id",
                            title: "#",
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'title',
                            title: '{{ models.Host.title.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'description',
                            title: '{{ models.Host.description.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'ip_address',
                            title: '{{ models.Host.ip_address.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'mac',
                            title: '{{ models.Host.mac.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'operation_system_family',
                            title: '{{ models.Host.operation_system_family.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'select',
                            filterData: 'json:{{ filters["OperationSystemFamily"]|escapejs }}',
                        },
                        {
                            field: 'operation_system_gen',
                            title: '{{ models.Host.operation_system_gen.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'input',
                        },
                        {
                            field: 'device_type',
                            title: '{{ models.Host.device_type.info["label"] }}',
                            sortable: true,
                            align: 'center',
                            filterControl: 'select',
                            filterData: 'json:{{ filters["DeviceType"]|escapejs }}',
                        },
                        {
                            field: 'device_vendor',
                            title: '{{ models.Host.device_vendor.info["label"] }}',
                            sortable: true,
                            align: 'center', 
                            filterControl: 'select',
                            filterData: 'json:{{ filters["DeviceVendor"]|escapejs }}',
                        }
                        ],
                        showColumns: true,
                        search: true,
                        showToggle: true,
                        showExport: true,
                        showMultiSort: true,
                        filterControl: true,
                        buttonsClass: 'primary',
                        pagination: true,
                        sidePagination: 'server',
                        url: '{{ url_for("networks.host_by_network_data", network_id="__row_id") }}'.replace('__row_id', row.id),
                        rowStyle: (row, index) => {
                            return { css: {"cursor": 'pointer' } }
                        },
                        icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                        onClickRow: function(row, element, field) {
                                location = "{{ url_for('networks.host_show', host_id='__row_id') }}".replace("__row_id", row.id)
                            },
                        detailView: true,
                        onExpandRow: function (index, row, $detail) {
                            $detail.html('<table></table>').find('table').bootstrapTable({
                                columns: [
                                {
                                    field: 'id',
                                    title: '#',
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'input',
                                },
                                {
                                    field: 'title',
                                    title: '{{ models.Service.title.info["label"] }}',
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'input',
                                },
                                {
                                    field: 'port',
                                    title: '{{ models.Service.port.info["label"] }}',
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'input',
                                },
                                {
                                    field: 'access_protocol.title-input',
                                    title: '{{ models.Service.access_protocol.info["label"] }}',
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'input',
                                },
                                {
                                    field: 'transport_level_protocol',
                                    title: '{{ models.Service.transport_level_protocol.info["label"] }}',
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'select',
                                    filterData: 'json:{{ filters["ServiceTransportLevelProtocol"]|escapejs }}',
                                },
                                {
                                    field: 'port_state',
                                    title: "{{ models.Service.port_state.info['label'] }}",
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'select',
                                    filterData: 'json:{{ filters["ServicePortState"]|escapejs }}',
                                },
                                {
                                    field: 'port_state_reason',
                                    title: "{{ models.Service.port_state_reason.info['label'] }}",
                                    sortable: true,
                                    align: 'center',
                                    filterControl: 'input',
                                }
                                ],
                                showColumns: true,
                                search: true,
                                showToggle: true,
                                showExport: true,
                                showMultiSort: true,
                                filterControl: true,
                                buttonsClass: 'primary',
                                pagination: true,
                                sidePagination: 'server',
                                cookie: true,
                                cookieIdTable: "ServiceByHostNetworkIndex",
                                cookieStorage: "localStorage",
                                url: '{{ url_for("networks.service_by_host_data", host_id="__host_id") }}'.replace('__host_id', row.id),
                                rowStyle: (row, index) => {
                                    return { css: {"cursor": 'pointer' } }
                                },
                                icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                                onClickRow: function(row, element, field) {
                                    location = "{{ url_for('networks.service_show', service_id='__row_id') }}".replace("__row_id", row.id)
                                }
                            })
                        }
                    }) 
                }
            })
        });
        $(function () {
            $.contextMenu({
                selector: '.with-context-menu-networks',
                callback: function (key, options) {
                    if (key === 'open') {
                        window.open("{{ url_for('networks.network_show', network_id='__network_id') }}".replace("__network_id", options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank');
                    }
                    else if(key === 'edit') {
                        window.open("{{ url_for('networks.network_edit', network_id='__network_id') }}".replace('__network_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus();
                    }
                    else if(key === 'delete') {
                        if(confirm("{{ _('Are you sure you want to delete this network?') }}")) {
                            window.open("{{ url_for('networks.network_delete', network_id='__network_id') }}".replace('__network_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus();
                        }
                    }
                    else if(key === 'copy_ip') {
                        navigator.clipboard.writeText(options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].ip_address)
                    }
                },
                items: {
                    "open": { name: '{{ _("Open in new tab") }}', icon: "filescroll" },
                    "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                    "copy_ip": { name: '{{ _("Copy IP Address") }}', icon: 'copy' },
                    "delete": { name: '{{ _("Delete") }}', icon: "delete" }
                }
            });
        });
        document.getElementById('button-export-all-included-ip-address').addEventListener('click', function() {
            var table_data = $('#networks-table').bootstrapTable('togglePagination').bootstrapTable('getData');
            $('#networks-table').bootstrapTable('togglePagination');
            let now_ids = [];
            table_data.forEach(item => now_ids.push(item.id));
            var search_params = new URLSearchParams();
            search_params.set('project_id', "{{ project.id }}");
            search_params.set("network_ids", now_ids.join(','));
            window.location = "{{ url_for('networks.generate_all_included_ip_addresses') }}?" + search_params.toString();
        })
      </script>
{% endblock %}