{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import form_element %}

{% block page_content %}
<form action="" method="POST" class="needs-validation" enctype="multipart/form-data">
    <div class="row gutters">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form.hidden_tag() }}
                    {{ form_element(form, form.title, inline=True) }}
                    {{ form_element(form, form.ip_address, inline=True) }}
                    {{ form_element(form, form.vlan_number, inline=True) }}
                    {{ form_element(form, form.internal_ip, inline=True) }}
                    {{ form_element(form, form.asn, inline=True) }}
                    {{ form_element(form, form.connect_cmd, inline=True) }}
                    <div style="margin-top: 15px;">
                        {{ form_element(form, form.icon_id, inline=True) }}
                    </div>
                    {{ form_element(form, form.description) }}
                    {{ form_element(form, form.can_see_network, inline=True) }}
                    <div class="row justify-content-end">
                        <div class="col-4">
                            {{ form.submit(class='btn btn-primary') }}
                            {{ form.submit_and_add_new(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ super() }}
<script nonce="{{ csp_nonce() }}">
    const IPMask = IMask(document.getElementById("{{ form.ip_address.id }}"), {
        mask: 'IP{.}IP{.}IP{.}IP/CM',
        blocks: {
            IP: {
                mask: Number,
                padFractionalZeros: true,
                scale: 0,
                min: 0,
                max: 255
            },
            CM: {
                mask: Number,
                padFractionalZeros: true,
                scale: 0,
                min: 0,
                max: 32
            }
        },
        prepare: (value, masked) => {
            if(value === '0' && (masked._value.length === 0 || masked._value.charAt(masked._value.length - 1) === '.')) {
                return value + '.';
            }
            return value;
        }
    });
</script>
{% endblock %}