{% extends 'layout/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/file_list.css') }}">
{% endblock %}


{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ _("Generate new report from Template") }}:</h5>
            </div>
            <div class="card-body">
                <div class="file-list">
                    {% if report_templates|length == 0 %}
                    <p class="text-center text-muted">{{ pgettext("they", "(Missing)") }}</p>
                    {% else %}
                    {% for template in report_templates %}
                    {% if template.description != none and template.description != '' %}
                    <a data-toggle="tooltip" data-placement="top" data-bs-title="{{ template.description }}" id="template-{{ template.id }}" href="{{ url_for('report_templates.generate_report_from_template', template_id=template.id, project_id=project.id) }}" download class="file-item"><span>{{ _("Generate") }}</span><span>{{ template.title }}</span></a>
                    {% else %}
                    <a id="template-{{ template.id }}" href="{{ url_for('report_templates.generate_report_from_template', template_id=template.id, project_id=project.id) }}" download class="file-item"><span>{{ _("Generate") }}</span><span>{{ template.title }}</span></a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </div>          
            </div>
        </div>
    </div>
</div>
{% endblock %}