{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}


{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <table class="table" id="issues-table"
                             data-search="true"
                             data-show-columns="true"
                             data-show-toggle="true"
                             data-show-export="true"
                             data-show-multi-sort="true"
                             data-filter-control="true"
                             data-buttons-class="primary"
                             data-pagination="true"
                             data-side-pagination="server"
                             data-page-list="[10, 25, 50, 100, 500, All]"
                             data-url="{{ url_for('issues.exist_issue_data_index', project_id=project.id) }}">
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        var hide_columns = new Set(JSON.parse(localStorage.getItem("IssueExistIndexHideColumns"))); // -> Set('title')
          if(hide_columns === null) {
            hide_columns = new Set();
          };
        $(function() {
          $('#issues-table').bootstrapTable('destroy').bootstrapTable({
                    filterControl: true,
                    disableUnusedSelectOptions: true,

                    columns: [
                    {
                        field: "id",
                        title: "#",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input',
                        visible: true,
                    },
                    {
                        field:  "title",
                        title: "{{ Issue.title.info['label'] }}",
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                        visible: !(hide_columns.has('title')),
                    },
                    {
                        field: 'description',
                        title: '{{ Issue.description.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                        visible: !(hide_columns.has('description')),
                    },
                    {
                        field: 'status.id-select',
                        title: '{{ Issue.status.info["label"] }}',
                        filterControl: 'select',
                        filterData: 'json:{{ filters["IssueStatus"]|safe }}',
                        sortable: true,
                        align: 'center',
                        visible: !(hide_columns.has('status.id-select')),
                    },
                    {
                        field: 'cvss',
                        title: '{{ Issue.cvss.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                        visible: !(hide_columns.has('cvss')),
                    },
                    {
                        field: 'cve',
                        title: '{{ Issue.cve.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                        visible: !(hide_columns.has('title')),
                    }
                    ],
                    onPreBody: function(data) {
                        var pageSizeData = localStorage.getItem("IssueExistIndexPageSize");
                        if (pageSizeData != null) {
                            var pageSizeInt = parseInt(pageSizeData);
                            if(isNaN(pageSizeInt)) {
                                pageSizeInt = 500;
                            }
                            this.pageSize = pageSizeInt;
                        }
                    },
                    onPageChange: function(pageNumber, pageSize) {
                        localStorage.setItem("IssueExistIndexPageSize", pageSize)
                    },
                    onColumnSwitch: function(field, checked) {
                        var hide_columns = new Set(JSON.parse(localStorage.getItem("IssueExistIndexHideColumns")));
                        if(checked) {
                            hide_columns.delete(field);
                            localStorage.setItem("IssueExistIndexHideColumns", JSON.stringify(Array.from(hide_columns)));
                        }
                        else {
                            hide_columns.add(field);
                            localStorage.setItem("IssueExistIndexHideColumns", JSON.stringify(Array.from(hide_columns)));
                        };
                    },
                    icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                    onClickRow: function(row, element, field) {
                          location = "{{ url_for('issues.issue_show', issue_id='__row_id') }}".replace("__row_id", row.id);
                    },
                    rowStyle: (row, index) => {return { css: { cursor: 'pointer' } }},
                })
        });
      </script>
{% endblock %}