{% extends 'layout/base.html' %}
{% from 'layout/_macrosses.html' import bootstrap_table_icons %}


{% block page_content %}
<div class="row gutters">
    <div class="col-12">
        <table class="table" id="issues-table"
                             data-search="true"
                             data-show-columns="true"
                             data-show-toggle="true"
                             data-show-export="true"
                             data-show-multi-sort="true"
                             data-filter-control="true"
                             data-buttons-class="primary"
                             data-pagination="true"
                             data-side-pagination="server"
                             data-page-list="[10, 25, 50, 100, 500, All]"
                             data-url="{{ url_for('issues.exist_issue_data_index', project_id=project.id) }}"
                             data-cookie="true"
                             data-cookie-id-table="IssuesExistIndex"
                             data-cookie-storage="localStorage">
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        $(function() {
            function statusFormatter(value, row, index, field) {
                return `<div style="background-color: ${row.status_background_color}; padding: 5px; border-radius: 3px; color: ${row.status_text_color}">${value}</div>`;
            }
          $('#issues-table').bootstrapTable('destroy').bootstrapTable({
                    filterControl: true,
                    disableUnusedSelectOptions: true,

                    columns: [
                    {
                        field: "id",
                        title: "#",
                        sortable: true,
                        align: 'center',
                        filterControl: 'input',
                    },
                    {
                        field:  "title",
                        title: "{{ Issue.title.info['label'] }}",
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                    },
                    {
                        field: 'description',
                        title: '{{ Issue.description.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                    },
                    {
                        field: 'status.id-select',
                        title: '{{ Issue.status.info["label"] }}',
                        filterControl: 'select',
                        filterData: "json:" + JSON.stringify(JSON.parse('{{ filters["IssueStatus"]|safe|escapejs }}')),
                        sortable: true,
                        align: 'center',
                        formatter: statusFormatter
                    },
                    {
                        field: "vector.id-select",
                        title: "{{ Issue.vector.info['label'] }}",
                        filterControl: 'select',
                        filterData: "json:" + JSON.stringify(JSON.parse('{{ filters["IssueVector"]|safe|escapejs }}')),
                        sortable: true,
                        align: 'center'
                    },
                    {
                        field: 'cvss',
                        title: '{{ Issue.cvss.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                    },
                    {
                        field: 'cve',
                        title: '{{ Issue.cve.info["label"] }}',
                        filterControl: 'input',
                        sortable: true,
                        align: 'center',
                    },
                    {
                        field: "order_number",
                        title: '{{ Issue.order_number.info["label"] }}',
                        sortable: true,
                        align: 'center',
                        filterControl: 'input'
                    }
                    ],
                    icons: JSON.parse("{{ bootstrap_table_icons().strip() }}"),
                    onClickRow: function(row, element, field) {
                          location = "{{ url_for('issues.issue_show', issue_id='__row_id') }}".replace("__row_id", row.id);
                    },
                    rowStyle: (row, index) => {return { classes: "with-context-menu-issue", css: { cursor: 'pointer' } }},
                })
        });
        $(function () {
            $.contextMenu({
                selector: '.with-context-menu-issue',
                callback: function (key, options) {
                    if (key === 'open') {
                        window.open("{{ url_for('issues.issue_show', issue_id='__issue_id') }}".replace("__issue_id", options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank')
                    }
                    else if(key === 'edit') {
                        window.open("{{ url_for('issues.issue_edit', issue_id='__issue_id') }}".replace('__issue_id', options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id), '_blank').focus()
                    }
                    else if(key === 'increase_order_number') {
                        let issue_id = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id;
                        let rowIndex = options.$trigger.data('index');
                        fetch("{{ url_for('issues.increase_order_number', issue_id='__issue_id') }}".replace("__issue_id", issue_id),
                            {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token() }}'
                                }
                            }).then(response => { 
                            if (response.ok) { return response.json() } else {alert("{{ _('Something went wrong. Try to refresh the page') }}")} }).then(response => {
                                if (response.success === true) {
                                    options.$trigger.parent().parent().bootstrapTable('updateCell', {
                                        index: rowIndex,
                                        field: 'order_number',
                                        value: response.order_number
                                    });
                                }
                            })
                    }
                    else if (key === 'decrease_order_number') {
                        let issue_id = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id;
                        let rowIndex = options.$trigger.data('index');
                        fetch("{{ url_for('issues.decrease_order_number', issue_id='__issue_id') }}".replace("__issue_id", issue_id),
                            {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token() }}'
                                }
                            }).then(response => { 
                            if (response.ok) { return response.json() } else {alert("{{ _('Something went wrong. Try to refresh the page') }}")} }).then(response => {
                                if (response.success === true) {
                                    options.$trigger.parent().parent().bootstrapTable('updateCell', {
                                        index: rowIndex,
                                        field: 'order_number',
                                        value: response.order_number
                                    });
                                }
                            })
                    }
                    else if (key === 'delete') {
                        if (confirm("{{ _('Are you sure you want to delete this issue?') }}")) {
                            let issue_id = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id;
                            fetch("{{ url_for('issues.issue_delete', issue_id='__issue_id') }}".replace('__issue_id', issue_id), {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token() }}'
                                }
                            }).then(response => {
                                if (response.redirected) {
                                    document.location = response.url;
                                }
                            });
                        };
                    }
                    else if (key.startsWith('to_status_')) {
                        let status_id = parseInt(key.substr(10));
                        let issue_id = options.$trigger.parent().parent().bootstrapTable('getData')[options.$trigger.data('index')].id;
                        let rowIndex = options.$trigger.data('index');
                        let $table = options.$trigger.parent().parent();
                        fetch('{{ url_for("issues.change_issue_status", issue_id="__issue_id") }}'.replace("__issue_id", issue_id), {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token() }}'
                            },
                            body: JSON.stringify({ "status_id": status_id })
                        }).then(response => { if (response.ok) { return response.json() } else {alert("{{ _('Something went wrong. Try to refresh the page') }}")} }).then(response => {
                            if (response.success === true) {
                                let rowData = $table.bootstrapTable('getData')[rowIndex];
                                let updatedRow = {
                                    ...rowData,
                                    status_background_color: response['background-color'],
                                    status_text_color: response['color'],
                                    'status.id-select': response['status_title']
                                };
                                $table.bootstrapTable('updateRow', {
                                    index: rowIndex,
                                    row: updatedRow
                                });
                            }
                        });
                    }
                },
                items: {
                    "open": { name: '{{ _("Open in new tab") }}', icon: "filescroll" },
                    "increase_order_number": { name: '{{ _("Increase order number") }}', icon: "increase" },
                    "decrease_order_number": { name: '{{ _("Decrease order number") }}', icon: "decrease" },
                    "to_status": {
                        name: '{{ _("Change the status") }}',
                        icon: "thermometer",
                        items: {
                            // {% for i in issue_statuses %}
                            "to_status_{{ i.id|safe }}": { name: '{{ i.title|escapejs }}', icon: '' },
                            //{% endfor %}
                        },
                    },
                    "edit": { name: '{{ _("Edit") }}' , icon: "edit"},
                    "delete": { name: '{{ _("Delete") }}' , icon: "delete"}
                }
            });
        });
      </script>
{% endblock %}